<!DOCTYPE html>
<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const publicpage = locals.metadata.page.public || activity === 'preview'
	const modules = locals.metadata.site.modules
	const metafields = locals.metadata.site.metafields
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
	const pagedisplay = locals.metadata.page.display
	const pages = locals.metadata.page.count

	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && (!locals.pinboard?.editable || activity === 'preview') && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	const sections = locals.pinboard?.sections
	const section = query.section?.[0]
	const editable_pinboard = (activity !== 'preview' && object === 'pads' && locals.pinboard?.editable)

	const logged = locals.metadata.user.uuid !== null

	// const slides = locals.sample_images

	// const is_intropage = (publicpage
	// 	&& object === 'pads'
	// 	&& space !== 'pinned'
	// 	&& mapscale !== 'full-screen'
	// 	&& locals.metadata.page.id === 1
	// 	&& slides?.length > 0)

	const is_intropage = false
	const welcome_module = locals.metadata.site.welcome_module
%>
<html lang='<%- language %>'>
<head>

<%- include ('../partials/head.ejs') %>
<%- include('../partials/pagestats.ejs') %>

<% if (locals.metadata.page.map) { %>
	<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
		integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
		crossorigin=''/>
	<script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'
		integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=='
		crossorigin=''></script>
<% } %>

<%- include ('./modules/data.ejs') %>

<script type='module' src='/js/browse/load.js'></script>

</head>

<body>

<%- include ('../partials/navigate/menu-languages.ejs') %>
<%- include ('../partials/modals.ejs') %>

<% if (is_intropage) { %>
<div class='public-page-header'>
	<div class='<%- welcome_module %>'>
		<% if (welcome_module === 'mosaic') { %>
			<%- include ('./modules/mosaic.ejs') %>
		<% } else if (welcome_module === 'carousel') { %>
			<%- include ('./modules/carousel.ejs') %>
		<% } %>
		<button class='scroll-nav'><label class='rotate'>&rsaquo;</label></button>
	</div>
	<h1 class='site-title scroll-target'><%- locals.metadata.site.title %></h1>
	<% if (locals.metadata.page.instance_title) { %><h2><%- locals.metadata.page.instance_title %></h2><% } %>
	<% if (locals.metadata.site.description?.[language]) { %><p class='lead'><%- locals.metadata.site.description[language] %></p><% } %>
</div>
<% } %>

<div class='sticky-container'>
	<div class='main-content <% if (mapscale !== "full-screen") { %> force-height<% } %>'>
		<header<% if (mapscale === 'full-screen' || pagedisplay === 'slideshow') { %> class='folded'<% } %>>
			<% if (!is_intropage) { %><div class='inner'>
			<% } else { %><div class='inner fixed'><% } %>
				<%- include ('../partials/navigate/sidebar.ejs') %>
			</div>
		</header>

		<div class='browse <%- pagedisplay %><% if (publicpage) { %> public<% } %><% if (locals.metadata.page.instance_title) {%> instance<% } %>'>
			<% if (locals.metadata.page.instance_title) { %>
				<h1 class='instance-title'><%- locals.metadata.page.instance_title %></h1>
			<% } %>
			<% if (locals.metadata.page.instanceReadCount) { %>
				<div class='engagement-group page-stats'>
					<button class='engagement engagement-reads'>
						<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
						<span class='engagement-reads-count'><%= locals.metadata.page.instanceReadCount ?? '-' %></span>
					</button>
				</div>
			<% } %>


			<% 
				const anytabs = ['private', 'curated', 'shared', 'reviewing'].some(c => locals.stats?.[c] > 0) 
					|| (locals.pinboards_list ?? []).filter(d => d.count)?.length > 0
			%>

			<% 
				if (!publicpage
					&& rights >= (modules.find(d => d.type === object)?.rights.read ?? Infinity)
					&& pagedisplay !== 'slideshow'
					// && !(locals.metadata.page.map && mapscale === 'full-screen')
					&& !locals.metadata.page.instance_title
					&& ((object === 'pads' && anytabs) || object !== 'pads')
				) 
			{ %>
				<nav class='tabs<% if (mapscale === "full-screen") { %> fill-screen<% } %>'>
					<div class='inner'>
						<div class='xs sm'>
							<div class='spaces'>
								<button class='space google-translate-attr' data-vocab='spaces'></button>
								<div class='dropdown'>
									<%- include('./modules/tabs.ejs') %>
								</div>
							</div>
							<% if (object === 'pads') { %>
								<div class='btn-group map-scale'>
									<a class='mscale<% if (mapscale === "full-screen") { %> active<% } %>' href='?mscale=<% if (mapscale === "full-screen") { %>contain<% } else { %>full-screen<% } %>'>
										<i class='material-icons google-translate-attr'>public</i>
									</a>
								</div>
							<% } %>
						</div>
						<div class='m lg xl xxl'><%- include('./modules/tabs.ejs') %></div>
					</div>
				</nav>
			<% } %>

			<main>
				<div class='inner'>
					<!-- MULTI-SESSION ALERT -->
					<%- include('../partials/sessions-alert') %>
					<!-- INCLUDE THE BLURB -->
					<div class='lesser-padding'><%- locals.blurb %></div>
					<!-- (IF PINBOARD SPACE) PINBOARD TITLE -->
					<% if (space === 'pinned' && locals.pinboard && pagedisplay !== 'slideshow') { %>
						<% if (editable_pinboard) { %>
							<div class='meta-status status-<%- locals.pinboard.status || 0 %>'>
								<form id='pinboard-display-opts' method='GET' action='/publish/pinboards'>
									<input type='hidden' name='id' value='<%- locals.pinboard.id %>'>
									<menu class='opts google-translate-attr'>
										<li>
											<p class='<% if (locals.pinboard.display_map) { %>disabled<% } %>'><span data-vocab='slideshow'></span>: </p>
											<input type='checkbox' class='toggle' data-object='pinboard' data-id='<%= locals.pinboard.id %>' id='display-slideshow' value='true' name='slideshow' <% if (locals.pinboard.slideshow) { %>checked<% } %> <% if (locals.pinboard.display_map) { %>disabled<% } %>>
											<label for='display-slideshow' data-content='<% if (locals.pinboard.slideshow) { %>yes<% } else { %>no<% } %>'></label>
										</li>
										<li>
											<p class='<% if (locals.pinboard.slideshow) { %>disabled<% } %>'><span data-vocab='display filters'></span>: </p>
											<input type='checkbox' class='toggle' data-object='pinboard' data-id='<%= locals.pinboard.id %>' id='display-filters' value='true' name='display_filters' <% if (locals.pinboard.display_filters) { %>checked<% } %> <% if (locals.pinboard.slideshow) { %>disabled<% } %>>
											<label for='display-filters' data-content='<% if (locals.pinboard.display_filters) { %>yes<% } else { %>no<% } %>'></label>
										</li>
										<li>
											<ul>
												<li>
													<p class='<% if (locals.pinboard.slideshow) { %>disabled<% } %>'><span data-vocab='display map'></span>: </p>
													<input type='checkbox' class='toggle' data-object='pinboard' data-id='<%= locals.pinboard.id %>' id='display-map' value='true' name='display_map' <% if (locals.pinboard.display_map) { %>checked<% } %> <% if (locals.pinboard.slideshow) { %>disabled<% } %>>
													<label for='display-map' data-content='<% if (locals.pinboard.display_map) { %>yes<% } else { %>no<% } %>'></label>
												</li>
												<li>
													<p class='<% if (locals.pinboard.slideshow || !locals.pinboard.display_map) { %>disabled<% } %>'><span data-vocab='full-screen'></span>: </p>
													<input type='checkbox' class='toggle' data-object='pinboard' data-id='<%= locals.pinboard.id %>' id='display-fullscreen' value='true' name='display_fullscreen' <% if (locals.pinboard.display_fullscreen) { %>checked<% } %> <% if ((locals.pinboard.slideshow) || !locals.pinboard.display_map) { %>disabled<% } %>>
													<label for='display-fullscreen' data-content='<% if (locals.pinboard.display_fullscreen) { %>yes<% } else { %>no<% } %>'></label>
												</li>
											</ul>
										</li>
									</menu>
									<div class='btn-group google-translate-attr'>
										<button id='open-pinboard-preview' type='button' data-vocab='preview'></button>

										<button id='share-pinboard' type='button' data-id='<%= locals.pinboard.id %>' data-contributors='<%- JSON.stringify(locals.pinboard.contributors) %>'>Share</button>
										<!-- TO DO: TRANSLATE -->
										<!-- TO DO: CHECK THIS WORKS WITH THE INJECTION OF DATA -->

										<% if (locals.pinboard.status === 1) { %>
											<button type='submit' class='publish' name='status' value='3' data-vocab='publish'></button>
										<% } else { %>
											<button type='submit' class='publish' data-vocab='publish' disabled></button>
										<% } %>
									</div>
								</form>
							</div>
						<% } %>

						<div class='head google-translate-attr'>
							<% if (editable_pinboard) { %>
								<div id='pinboard-title' class='title' data-id='<%= locals.pinboard.id %>' data-placeholder='untitled pad' contenteditable><%- locals.pinboard.title %></div>

								<% if (!locals.metadata.page.instanceReadCount) { %>
									<div class='engagement-group page-stats'>
										<button class='engagement engagement-reads'>
											<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
											<span class='engagement-reads-count'><%= locals.pinboard.readCount ?? '-' %></span>
										</button>
									</div>
								<% } %>

								<div id='pinboard-description' class='description lead' data-id='<%= locals.pinboard.id %>' data-placeholder='Provide a short description for this pinboard.' contenteditable><%- (locals.pinboard.description) %></div><!-- TO DO: TRANSLATE -->
								<!-- TO DO: CHECK THIS SAVE PPROPERLY THROUGH js/browse/index.js -->
							<% } else { %>
								<div class='title' data-placeholder='untitled pad'><%- locals.pinboard.title %></div>

								<div class='contributor'>
									<span data-vocab='curation credit'></span> <a href='/<%= language %>/browse/pads/published?contributors=<%= locals.pinboard.owner %>'><%= locals.pinboard.ownername %></a>.
								</div>
								<% if (locals.pinboard?.country) { %><div class='meta meta-country'><%- locals.pinboard?.country %></div><% } %>

								<% if (!locals.metadata.page.instanceReadCount) { %>
									<div class='engagement-group page-stats'>
										<button class='engagement engagement-reads'>
											<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
											<span class='engagement-reads-count'><%= locals.pinboard.readCount ?? '-' %></span>
										</button>
									</div>
								<% } %>

								<% if (locals.pinboard.description) { %>
									<div class='description lead'><%- (locals.pinboard.description) %></div>
								<% } %>
							<% } %>

							<% if (editable_pinboard || sections?.length) { %>
								<div class='pinboard-sections-container'>
									<nav class='pinboard-sections'>
										<div class='inner'>
											<div class='xs sm'>
												<div class='spaces'>
													<button class='space google-translate-attr' data-vocab='["section", "plural"]'></button>
													<div class='dropdown'>
														<%- include('./modules/pinboard-sections.ejs') %>
													</div>
												</div>
											</div>

											<div class='m lg xl xxl'>
												<%- include('./modules/pinboard-sections.ejs') %>
											</div>
										</div>
									</nav>
								</div>
							<% } %>
							<% if (editable_pinboard) {%>
								<div id='pinboard-section-description' class='description<% if (!sections?.length) { %> hide<% } %>' data-id='<%= section %>' data-placeholder='Provide a short description for this pinboard.' contenteditable><%- sections.find(d => d.id === +section)?.description %></div><!-- TO DO: TRANSLATE -->
							<% } else if (sections?.some(d => d.id === +section)) { %>
								<div class='description<% if (!sections?.length) { %> hide<% } %>' data-placeholder='Provide a short description for this pinboard.'><%- sections.find(d => d.id === +section)?.description %></div><!-- TO DO: TRANSLATE -->
							<% } %>
						</div>
					<% } %>

					<!-- SEARCH AND FILTER MENU -->
					<% if (
						!(space === 'pinned'
							&& (!locals.pinboard?.editable || activity === 'preview')
							&& !locals.pinboard?.display_filters)
						&& pagedisplay !== 'slideshow'
					) { %>
						<%- include('./modules/filter') %>
					<% } %>

					<!-- MAP -->
					<% if (
						((locals.metadata.page.map
							&& locals.stats?.filtered > 0)
						&& !(space === 'pinned'
							&& (!locals.pinboard?.editable || activity === 'preview')
							&& !locals.pinboard?.display_map)
						&& pagedisplay !== 'slideshow')
						|| locals.metadata.page.map && mapscale === 'full-screen'
					) { %>
						<%- include ('./modules/map') %>
					<% } else { %>
						<% if (object === 'pads' && pagedisplay !== 'slideshow' && locals.pads?.length === 0) { %>
							<small class='no-results m lg xl xxl google-translate-attr'>0 <span data-vocab='["pads to display", "plural"]'></span></small>
						<% } %>
					<% } %>

					<!-- STATISTICS IN MOBILE VIEW -->
					<% if (mapscale !== 'full-screen' && pagedisplay !== "slideshow") { %>
						<div class='public-page-panel sm-padding xs sm m lg'>
							<div class='inner'>
								<%- include ('./modules/statistics.ejs') %>
							</div>
						</div>
						<% if (locals.stats?.filtered === 0) { %>
							<small class='no-results xs google-translate-attr'>0 <span data-vocab='["pads to display", "plural"]'></span></small>
						<% } %>
					<% } %>
				</div>

				<% if (!logged) { %>
					<div class='public-page-panel sm-padding'>
						<div class='inner'>
							<nav class='enter google-translate-attr'>
								<a href='/login'><button type='button' class='highlight' data-vocab='log in'></button></a>
								<!-- <button type='button' onclick='selectCountry()'>Get in touch</button> -->
								<!-- TO DO: TRANSLATE -->
							</nav>
						</div>
					</div>
				<% } %>

				<div class='outer lg xl xxl'>
					<% if (pages > 1 && pagedisplay !== 'slideshow' && mapscale !== 'full-screen') { %>
						<p class='nav-info google-translate-attr'>&larr; <span data-vocab='navigate here'></span></p>
					<% } %>
				</div>
				<div class='lds-ellipsis hide'><div></div><div></div><div></div><div></div></div>
			</main>
		</div>

		<div class='sidebar xl xxl'>
			<div class='inner'>
				<%# if (pagedisplay !== 'slideshow' && mapscale !== 'full-screen') { %>
				<% if (mapscale !== 'full-screen' && pagedisplay !== 'slideshow') { %>
					<%- include ('./modules/statistics.ejs') %>
					<%- include ('../partials/filters.ejs') %>
				<% } %>
			</div>
		</div>
	</div>
</div>

<% if (pagedisplay !== 'slideshow') { %>
	<footer>
		<nav class='pagination xs sm m'>
			<% if (activity === 'browse') { %><%- include('./modules/pagination') %><% } %>
		</nav>
	</footer>
<% } else { %>
	<footer class='slideshow'>
		<div class='inner'>
			<div class='dots'></div>
		</div>
	</footer>
<% } %>


<%- include ('../partials/footer.ejs') %>

</body>
</html>
