<!DOCTYPE html>
<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const publicpage = locals.metadata.page.public || activity === 'preview'
	const modules = locals.metadata.site.modules
	const metafields = locals.metadata.site.metafields
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
	const pagedisplay = locals.metadata.page.display
	const pages = locals.metadata.page.count

	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && (!locals.pinboard?.editable || activity === 'preview') && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	const logged = locals.metadata.user.uuid !== null

	const slides = locals.sample_images
	
	// const is_intropage = (publicpage
	// 	&& object === 'pads'
	// 	&& space !== 'pinned'
	// 	&& mapscale !== 'full-screen'
	// 	&& locals.metadata.page.id === 1
	// 	&& slides?.length > 0)

	const is_intropage = false
	const welcome_module = locals.metadata.site.welcome_module
%>
<html lang='<%- language %>'>
<head>

<%- include ('../partials/head.ejs') %>
<%- include('../partials/pagestats.ejs') %>

</head>

<body>

<% include ('../partials/translations.ejs') %>

<%- include ('../partials/menu-languages.ejs') %>
<%- include ('../partials/modals.ejs') %>

<%- include ('../partials/exploration.ejs') %>
<%- include ('./modules/download.ejs') %>
<%- include('./render.ejs') %>


<% if (is_intropage) { %>
<div class='public-page-header'>
	<div class='<%- welcome_module %>'>
		<% if (welcome_module === 'mosaic') { %>
			<%- include ('./modules/mosaic.ejs') %>
		<% } else if (welcome_module === 'carousel') { %>
			<%- include ('./modules/carousel.ejs') %>
		<% } %>
		<button class='scroll-nav' onclick='scrollToPad(this)'><label class='rotate'>&rsaquo;</label></button>
		<script type='text/javascript'>
			function scrollToPad (node) {
				let next = d3.select('div.public-page-header h1.site-title').node()
				window.scrollTo({
					top: next.offsetTop - 60,
					left: 0,
					behavior: 'smooth'
				})
			}
			window.addEventListener('scroll', function (e) {
				d3.select('button.scroll-nav').classed('hide', document.documentElement.scrollTop > 60)
			})
		</script>
	</div>
	<h1 class='site-title'><%- locals.metadata.site.title %></h1>
	<% if (locals.metadata.page.instance_title) { %><h2><%- locals.metadata.page.instance_title %></h2><% } %>
	<% if (locals.metadata.site.description?.[language]) { %><p class='lead'><%- locals.metadata.site.description[language] %></p><% } %>
</div>
<% } %>

<div class='sticky-container'>
	<div class='main-content <% if (mapscale !== "full-screen") { %> force-height<% } %>'>
		<header<% if (mapscale === 'full-screen' || pagedisplay === 'slideshow') { %> class='folded'<% } %>>
			<% if (!is_intropage) { %><div class='inner'>
			<% } else { %><div class='inner fixed'><% } %>
				<%- include ('../partials/menu-logo.ejs') %>
			</div>
		</header>

		<div class='browse <%- pagedisplay %><% if (publicpage) { %> public<% } %><% if (locals.metadata.page.instance_title) {%> instance<% } %>'>
			<% if (locals.metadata.page.instance_title) { %>
				<h1 class='instance-title'><%- locals.metadata.page.instance_title %></h1>
			<% } %>
			<% if (locals.metadata.page.instanceReadCount) { %>
				<div class='engagement-group page-stats'>
					<button class='engagement engagement-reads'>
						<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
						<span class='engagement-reads-count'><%= locals.metadata.page.instanceReadCount ?? '-' %></span>
					</button>
				</div>
			<% } %>
			<% if (!publicpage
				&& rights >= (modules.find(d => d.type === object)?.rights.read ?? Infinity)
				&& pagedisplay !== 'slideshow'
				// && !(locals.metadata.page.map && mapscale === 'full-screen')
				&& !locals.metadata.page.instance_title
			) { %>
				<nav class='tabs<% if (mapscale === "full-screen") { %> fill-screen<% } %>'>
					<div class='inner'>
						<div class='xs sm'>
							<div class='spaces'>
								<button class='space google-translate-attr'><%- vocabulary['spaces'][language] %></button>
								<div class='dropdown'>
									<%- include('./modules/tabs.ejs') %>
								</div>
							</div>
							<% if (object === 'pads') { %>
								<div class='btn-group map-scale'>
									<a class='mscale<% if (mapscale === "full-screen") { %> active<% } %>' href='?mscale=<% if (mapscale === "full-screen") { %>contain<% } else { %>full-screen<% } %>'>
										<i class='material-icons google-translate-attr'>public</i>
									</a>
								</div>
							<% } %>
						</div>
						<div class='m lg xl xxl'><%- include('./modules/tabs.ejs') %></div>
					</div>
					<script type='text/javascript'>
						if (!mediaSize) var mediaSize = getMediaSize()
						if (['xs', 'sm', 'm'].includes(mediaSize)) {
							const tabs = d3.select(`nav.tabs .inner .${mediaSize}`)
							let activetab = d3.select('.dropdown menu li.active')
							const button = d3.select(`nav.tabs .inner .${mediaSize} button.space`)

							if (activetab.select('input')?.node()) {
								button.html(activetab.select('input').node().value)
							} else {
								button.html(activetab.select('a button').html())
								activetab.remove()
							}

							// button.on('touchend', function () { this.focus() })
							// .on('focus', function () {
							// 	const dropdown = d3.select(this.nextElementSibling)
							// 	if (dropdown.node()) {
							// 		if (dropdown.node().style.maxHeight) {
							// 			dropdown.node().style.maxHeight = null
							// 			dropdown.node().style.overflow = null
							// 		} else {
							// 			dropdown.node().style.maxHeight = `${Math.min(dropdown.node().scrollHeight, 300)}px`
							// 			setTimeout(_ => {
							// 				dropdown.node().style.overflow = 'visible'
							// 			}, 250)
							// 		}
							// 	}
							// }).on('blur', function () {
							// 	if (!d3.event.relatedTarget || !d3.select(d3.event.relatedTarget).hasAncestor(this.nextElementSibling)) {
							// 		const dropdown = d3.select(this.nextElementSibling)
							// 		if (dropdown.node()) {
							// 			dropdown.node().style.maxHeight = null
							// 			dropdown.node().style.overflow = null
							// 		}
							// 	}
							// })

							button.on('click', function () {
								const dropdown = d3.select(this.nextElementSibling)
								if (dropdown.node() && dropdown.classed('dropdown')) {
									if (dropdown.node().style.maxHeight) {
										dropdown.node().style.maxHeight = null
										dropdown.node().style.overflow = null
										d3.select('nav.tabs .inner .spaces')?.classed('open', false)
										dropdown.findAncestor('li')?.classed('open', false)
									} else {
										// COLLAPSE ALL DROPDOWNS BETWEEN .main AND target
										if (d3.select(this).hasAncestor('dropdown')) {
											const parent_dropdown = d3.select(this).findAncestor('dropdown')
											parent_dropdown.selectAll('.dropdown')
											.each(function () {
												this.style.maxHeight = null
												this.style.overflow = null
												d3.select(this).findAncestor('li')?.classed('open', false)
											})
										}

										dropdown.node().style.maxHeight = `${Math.min(dropdown.node().scrollHeight, 300)}px`
										setTimeout(_ => {
											if (dropdown.select('.dropdown').size() > 0) dropdown.node().style.overflow = 'visible'
											else dropdown.node().style.overflow = 'scroll'
										}, 250)
										d3.select('nav.tabs .inner .spaces')?.classed('open', true)
										dropdown.findAncestor('li')?.classed('open', true)
									}
								}
							})

							window.addEventListener('mouseup', function (e) {
								if (e.target.nodeName !== 'HTML' && !d3.select(e.target).hasAncestor('spaces')) {
									d3.selectAll('nav.tabs .inner .open').classed('open', false)
									.selectAll('.dropdown')
									.each(function () {
										this.style.maxHeight = null
										this.style.overflow = null
									})
								}
							})

						}
					</script>
				</nav>
			<% } %>

			<main>
				<div class='inner'>
					<!-- MULTI-SESSION ALERT -->
					<%- include('../partials/sessions-alert') %>
					<!-- (IF PINBOARD SPACE) PINBOARD TITLE -->
					<% if (space === 'pinned' && locals.pinboard && pagedisplay !== 'slideshow') { %>
						<% if (activity !== 'preview' && object === 'pads' && locals.pinboard.editable) { %>
							<div class='meta-status status-<%- locals.pinboard.status || 0 %>'>
								<form id='pinboard-display-opts' method='GET' action='/publish/pinboards'>
									<input type='hidden' name='id' value='<%- locals.pinboard.id %>'>
									<menu class='opts google-translate-attr'>
										<li>
											<p class='<% if (locals.pinboard.display_map) { %>disabled<% } %>'><%- vocabulary['slideshow'][language] %>: </p>
											<input type='checkbox' class='toggle' id='display-slideshow' value='true' name='slideshow' onchange='toggleOptions(this)' <% if (locals.pinboard.slideshow) { %>checked<% } %> <% if (locals.pinboard.display_map) { %>disabled<% } %>>
											<label for='display-slideshow' data-content='<% if (locals.pinboard.slideshow) { %><%- vocabulary["yes"][language] %><% } else { %><%- vocabulary["no"][language] %><% } %>'></label>
										</li>
										<li>
											<p class='<% if (locals.pinboard.slideshow) { %>disabled<% } %>'><%- vocabulary['display filters'][language] %>: </p>
											<input type='checkbox' class='toggle' id='display-filters' value='true' name='display_filters' onchange='toggleOptions(this)' <% if (locals.pinboard.display_filters) { %>checked<% } %> <% if (locals.pinboard.slideshow) { %>disabled<% } %>>
											<label for='display-filters' data-content='<% if (locals.pinboard.display_filters) { %><%- vocabulary["yes"][language] %><% } else { %><%- vocabulary["no"][language] %><% } %>'></label>
										</li>
										<li>
											<ul>
												<li>
													<p class='<% if (locals.pinboard.slideshow) { %>disabled<% } %>'><%- vocabulary['display map'][language] %>: </p>
													<input type='checkbox' class='toggle' id='display-map' value='true' name='display_map' onchange='toggleOptions(this)' <% if (locals.pinboard.display_map) { %>checked<% } %> <% if (locals.pinboard.slideshow) { %>disabled<% } %>>
													<label for='display-map' data-content='<% if (locals.pinboard.display_map) { %><%- vocabulary["yes"][language] %><% } else { %><%- vocabulary["no"][language] %><% } %>'></label>
												</li>
												<li>
													<p class='<% if (locals.pinboard.slideshow || !locals.pinboard.display_map) { %>disabled<% } %>'><%- vocabulary['full screen'][language] %>: </p>
													<input type='checkbox' class='toggle' id='display-fullscreen' value='true' name='display_fullscreen' onchange='toggleOptions(this)' <% if (locals.pinboard.display_fullscreen) { %>checked<% } %> <% if ((locals.pinboard.slideshow) || !locals.pinboard.display_map) { %>disabled<% } %>>
													<label for='display-fullscreen' data-content='<% if (locals.pinboard.display_fullscreen) { %><%- vocabulary["yes"][language] %><% } else { %><%- vocabulary["no"][language] %><% } %>'></label>
												</li>
											</ul>
										</li>
									</menu>
									<div class='btn-group google-translate-attr'>
										<button type='button' onclick='openPreview()'><%- vocabulary['preview'][language] %></button>

										<button type='button' onclick='setShareOptions()'>Share</button>
										<!-- TO DO: TRANSLATE -->

										<% if (locals.pinboard.status === 1) { %><button type='submit' class='publish' name='status' value='3'><%- vocabulary['publish'][language] %></button>
										<% } else { %><button type='submit' class='publish' disabled><%- vocabulary['publish'][language] %></button>
										<% } %>
									</div>

									<script type='text/javascript'>
										function openPreview () {
											const url = new URL(window.location)
											const href = url.href.replace('/browse/', '/preview/')
											window.open(href, '_blank')
										}

										async function setShareOptions () {
											const contributors = await POST('/<%- language %>/browse/contributors/invited', { limit: null })

											const formdata = { action: '/share/pinboard',  method: 'POST' }
											const message = 'Share with contributors'
											const opts = []

											contributors.data.forEach(d => {
												opts.push({ node: 'input', type: 'checkbox', name: 'contributor', value: d.id, placeholder: d.name, checked: (<%- JSON.stringify(locals.pinboard.contributors) %>).includes(d.id), default: true })
											})

											const foot = { node: 'button', type: 'submit', name: 'pinboard', value: <%- locals.pinboard.id %>, label: 'Share' } // TO DO: TRANSLATE

											const new_constraint = await renderLonglistFormModal({ message, formdata, opts, foot })
										}

										function toggleOptions (node) {
											for (const label of node.labels) {
												d3.select(label).attr('data-content', node.checked ? '<%- vocabulary["yes"][language] %>' : '<%- vocabulary["no"][language] %>')
											}
											// IF slideshow THEN PREVENT OTHERS
											const sel = d3.select(node)
											const menu = sel.findAncestor('menu')
											const parent = sel.findAncestor('li')
											if (node.name === 'slideshow') {
												menu.selectAll('li')
												.each(function () {
													const sel = d3.select(this)
													sel.select('p').classed('disabled', function () {
														return this.parentNode !== parent.node() && node.checked
													})
													sel.selectAll('input[type=checkbox]').each(function () {
														this.disabled = this.parentNode !== parent.node() && node.checked
													})
												})
											}
											// IF map THEN ENABLE fullscreen OPTION
											if (node.name === 'display_map') {
												menu.selectAll('li')
												.each(function () {
													const sel = d3.select(this)
													sel.select('p').classed('disabled', function () {
														return this.parentNode !== parent.node() && this.nextElementSibling.name !== 'display_filters' && node.checked
													})
													sel.selectAll('input[type=checkbox]').each(function () {
														this.disabled = this.parentNode !== parent.node() && this.name !== 'display_filters' && node.checked
													})
												})
												const subnode = d3.select('input#display-fullscreen').node()
												subnode.disabled = !node.checked
												d3.select(subnode).findAncestor('li').select('p').classed('disabled', !node.checked)
											}
											partialSave('pinboard')
										}
									</script>
								</form>
							</div>
						<% } %>

						<div class='head google-translate-attr'>
							<% if (activity !== 'preview' && locals.pinboard.editable) { %>
								<div class='title' data-placeholder='<%- vocabulary["untitled pad"][language] %>' onfocus='this.classList.add("focus")' onkeydown='checkForEnter(event, this)' onblur='partialSave("pinboard")' contenteditable><%- locals.pinboard.title %></div>
								
								<% if (!locals.metadata.page.instanceReadCount) { %>
									<div class='engagement-group page-stats'>
										<button class='engagement engagement-reads'>
											<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
											<span class='engagement-reads-count'><%= locals.pinboard.readCount ?? '-' %></span>
										</button>
									</div>
								<% } %>

								<div class='description lead' data-placeholder='Provide a short description for this pinboard.' onblur='partialSave("pinboard")' contenteditable><%- (locals.pinboard.description) %></div><!-- TO DO: TRANSLATE -->
							<% } else { %>
								<div class='title' data-placeholder='<%- vocabulary["untitled pad"][language] %>'><%- locals.pinboard.title %></div>
								<div class='contributor'><%- vocabulary['curation credit'][language](locals.pinboard.owner, locals.pinboard.ownername, 'contributors') %></div>

								<% if (!locals.metadata.page.instanceReadCount) { %>
									<div class='engagement-group page-stats'>
										<button class='engagement engagement-reads'>
											<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
											<span class='engagement-reads-count'><%= locals.pinboard.readCount ?? '-' %></span>
										</button>
									</div>
								<% } %>

								<% if (locals.pinboard.description) { %>
									<!-- <div class='description' onblur='partialSave()'><%- (locals.pinboard.description) %></div> -->
									<div class='description lead'><%- (locals.pinboard.description) %></div>
								<% } %>
							<% } %>

							<%- include('./modules/pinboard-sections.ejs') %>
						</div>
						
						<script type='text/javascript'>
							function checkForEnter (evt, node) {
								if (evt.code === 'Enter' || evt.keyCode === 13) {
									evt.preventDefault()
									node.blur()
								}
							}

							async function partialSave (object) {
								if (!object) object = 'pinboard'

								if (object === 'pinboard') {
									let title = d3.select('main .inner .head .title').node().innerText.trim()
									if (title.length > 99) title = `${title.slice(0, 98)}…`
									const description = d3.select('main .inner .head .description.lead').node().innerHTML.trim()
									const displayopts = {}

									d3.selectAll('#pinboard-display-opts input[type=checkbox]')
									.each(function () {
										displayopts[this.name] = this.checked
									})

									const res = await POST('/save/pinboard', Object.assign(displayopts, { id: <%- locals.pinboard.id %>, title, description }))
									if (res.status === 200) {
										console.log('saved')
										const { datum } = res
										updateTab(datum.title)

										// TO DO: UPDATE THIS TO USE THE RENDER FUNCTIONS BELOW
										// d3.selectAll('.pin, .pinboard').html(d => d.title = datum.title)
										d3.selectAll('.pin label.name').html(d => d.title = datum.title)
									}
								} else if (object === 'section') {
									console.log('save section')

									// const res = await POST('/save/pinboard-sections', Object.assign(displayopts, { id: <%- locals.pinboard.id %>, title, description }))
									// if (res.status === 200) {
										console.log('saved')

										const li = d3.select('.pinboard-sections li.editing')
										if (li.node()) {
											li.classed('editing', false)
											li.select('div').classed('active', false)
											const a = li.select('a')
											
											const href = a.attr('data-href')
											a.attrs({
												'href': href,
												'data-href': null
											})
											a.select('button div.section-title').node().blur()
										}
									// }
								}
							}
						</script>
					<% } %>

					<!-- SEARCH AND FILTER MENU -->
					<% if (
						!(space === 'pinned'
							&& (!locals.pinboard?.editable || activity === 'preview')
							&& !locals.pinboard?.display_filters)
						&& pagedisplay !== 'slideshow'
					) { %>
						<%- include('./modules/filter') %>
					<% } %>

					<!-- MAP -->
					<% if (
						((locals.metadata.page.map
							&& locals.stats?.filtered > 0)
						&& !(space === 'pinned'
							&& (!locals.pinboard?.editable || activity === 'preview')
							&& !locals.pinboard?.display_map)
						&& pagedisplay !== 'slideshow')
						|| locals.metadata.page.map && mapscale === 'full-screen'
					) { %>
						<%- include ('./modules/map') %>
					<% } else { %>
						<% if (object === 'pads' && pagedisplay !== 'slideshow' && locals.pads?.length === 0) { %>
							<small class='no-results m lg xl xxl google-translate-attr'>
								<%- vocabulary['pads to display'][language](0) %>
							</small>
						<% } %>
					<% } %>

					<!-- STATISTICS IN MOBILE VIEW -->
					<% if (mapscale !== 'full-screen' && pagedisplay !== "slideshow") { %>
						<div class='public-page-panel sm-padding xs sm m lg'>
							<div class='inner'>
								<%- include ('./modules/statistics.ejs') %>
							</div>
						</div>
						<% if (locals.stats?.filtered === 0) { %>
							<small class='no-results xs google-translate-attr'>
								<%- vocabulary['pads to display'][language](0) %>
							</small>
						<% } %>
					<% } %>
				</div>

				<% if (!logged) { %>
					<div class='public-page-panel sm-padding'>
						<div class='inner'>
							<nav class='enter google-translate-attr'>
								<a href='/login'><button type='button' class='highlight'><%- vocabulary['log in'][language] %></button></a>
								<!-- <button type='button' onclick='selectCountry()'>Get in touch</button> -->
								<!-- TO DO: TRANSLATE -->
							</nav>
						</div>
					</div>
				<% } %>

				<div class='outer lg xl xxl'>
					<% if (pages > 1 && pagedisplay !== 'slideshow' && mapscale !== 'full-screen') { %>
						<p class='nav-info google-translate-attr'>&larr; <%- vocabulary['navigate here'][language] %></p>
					<% } %>
				</div>
				<div class='lds-ellipsis hide'><div></div><div></div><div></div><div></div></div>
			</main>
		</div>

		<div class='sidebar xl xxl'>
			<div class='inner'>
				<%# if (pagedisplay !== 'slideshow' && mapscale !== 'full-screen') { %>
				<% if (mapscale !== 'full-screen' && pagedisplay !== "slideshow") { %>
					<%- include ('./modules/statistics.ejs') %>
					<%- include ('../partials/filters.ejs') %>
				<% } %>
			</div>
		</div>
	</div>
</div>

<% if (pagedisplay !== 'slideshow') { %>
	<footer>
		<nav class='pagination xs sm m'>
			<% if (activity === 'browse') { %><%- include('./modules/pagination') %><% } %>
		</nav>
	</footer>
<% } else { %>
	<footer class='slideshow'>
		<div class='inner'>
			<div class='dots'></div>
		</div>
	</footer>
<% } %>


<%- include ('../partials/footer.ejs') %>

<script type='text/javascript'>
	if (!mediaSize) var mediaSize = getMediaSize()
	const main = d3.select('div.browse main')
	const layout = main.select('div.inner')
	const overview = layout.select('section.overview')

	let page = <% if (!isNaN(locals.metadata.page.id)) { %><%- locals.metadata.page.id %><% } else if (![null, undefined].includes(locals.metadata.page.id)) { %>'<%- locals.metadata.page.id %>'<% } else { %>undefined<% } %>;
	var lazyloading = false

	function renderSections (_data) {
		const sections = layout.addElems('section', 'container <%- object %>', _data)

		sections.addElems('div', 'layout')
		.each(function (d) {
			const section = d3.select(this)
			// THIS IS WHERE THE GROUPING SHOULD HAPPEN FOR FOLLOW UPS AND FORWARDS
			if (mediaSize === 'xs' && '<%- object %>' === 'pads') {
				section.classed('<%- pagedisplay === "slideshow" ? pagedisplay : "columns" %>', true)
				d.data.forEach(c => section.call(renderVignette, { data: c, display: '<%- pagedisplay === "slideshow" ? pagedisplay : "columns" %>' }))
			} else {
				section.classed('<%- pagedisplay %>', true)
				d.data.forEach(c => section.call(renderVignette, { data: c, display: '<%- pagedisplay %>' }))
			}
		})

		<% if (pagedisplay === 'slideshow') { %>initSlideshow()<% } %>
	}

	function renderVignette (_section, _kwargs) {
		const { data, display } = _kwargs

		const entry = new Entry({
			parent: _section,
			data: data,
			display: display,
			language: '<%- language %>'
		})
		// CREATE ALIAS FOR render
		const render = entry.render

		if (display === 'columns') {
			render.img(entry.head)
			render.actions(entry.head)
			// if (mediaSize !== 'xs') render.stats(entry.head)
			// render.tags(entry.body)
			render.title(entry.body)
			render.owner(entry.body)
			// if (data.img?.length === 0) render.txt(entry.body)
			render.txt(entry.body)
			<% if (!publicpage) { %>
				render.metainfo(entry.body)
				render.followup(entry.body)
			<% } %>
			render.tags(entry.body)
			// if (mediaSize === 'xs') render.stats(entry.foot)
			if (mediaSize !== 'xs') render.stats(entry.foot)
			render.engagement(entry.foot)
			render.pin(entry.foot)
			render.delete(entry.outer)
			render.unpublish(entry.outer)
			render.exploration(entry.foot)
		} else if (display === 'slideshow') {
			render.img(entry.head)
			render.owner(entry.metagroup)
			render.title(entry.body)
			render.txt(entry.body)
			render.tags(entry.body)
			render.stats(entry.foot)
		} else {
			render.owner(entry.metagroup)
			render.actions(entry.metagroup)
			render.title(entry.body)
			render.txt(entry.body)
			<% if (!publicpage) { %>
				render.metainfo(entry.body)
				render.followup(entry.body)
			<% } %>
			render.tags(entry.body)
			render.engagement(entry.body)
			render.img(entry.foot)
			render.stats(entry.foot)
			render.pin(entry.inner)
			render.delete(entry.outer)
			render.unpublish(entry.outer)
			render.exploration(entry.foot)
		}
	}

	function initSlideshow () {
		const slideshow = d3.select('div.layout.slideshow')
		const slides = slideshow.selectAll('.slide')

		d3.select('div.browse')
		.addElems('button', 'slide-nav', [{ label: '&lsaquo;', class: 'prev' }, { label: '&rsaquo;', class: 'next' }])
		.each(function (d) { d3.select(this).classed(d.class, true) })
			.classed('hide', d => {
				const sel = d3.select(this)
				let focus_id = 0
				d3.selectAll('.slide').each(function (c, i) {
					if (d3.select(this).classed('slide-in-view')) focus_id = i
				})
				if (d.class === 'prev' && focus_id === 0) {
					<% if (pages && locals.metadata.page.id === 1) { %>
						return true
					<% } else { %>
						return false
					<% } %>
				} else if (d.class === 'next' && focus_id === slides.size() - 1) {
					<% if (pages && locals.metadata.page.id === pages) { %>
						return true
					<% } else { %>
						return false
					<% } %>
				} else return false
			}).html(d => d.label)
		.on('click', d => {
			if (d.class === 'prev') switchslide(idx - 1)
			else if (d.class === 'next') switchslide(idx + 1)
		}).on('mouseup', function () {
			d3.event.stopPropagation()
			// LOSE FOCUS OF THIS BUTTON TO RE-ENABLE KEYBOARD NAVIGATION
			this.blur()
		})
		// ADD DOTS
		d3.select('footer .dots').addElems('div', 'dot', new Array(slides.size()).fill(0))
		.classed('highlight', (d, i) => i === 0)
		.on('click', (d, i) => { switchslide(i) })

		let idx = 0
		const slidewidth = slides.node().clientWidth || slides.node().offsetWidth || slides.node().scrollWidth

		function switchslide (i) {
			slideshow.node().scrollTo({
				top: 0,
				left: i * slidewidth,
				behavior: 'smooth'
			})

			if (i > slides.size() - 1) {
				<% if (pages && locals.metadata.page.id < pages) { %>
					const url = new URL(window.location)
					const queryparams = new URLSearchParams(url.search)
					queryparams.set('page', page + 1)
					window.location = `${url.pathname}?${queryparams.toString()}`
				<% } %>
			} else if (i < 0) {
				<% if (pages && locals.metadata.page.id > 1) { %>
					// WE KEEP THE pages AT THE BEGINNING TO MAKE SURE THE PAGINATION SCHEMA IS NUMERIC (FOR EXAMPLE, IN THE CASE OF CONTRIBUTORS, IT IS ALPHABETIC)
					const url = new URL(window.location)
					const queryparams = new URLSearchParams(url.search)
					queryparams.set('page', page - 1)
					window.location = `${url.pathname}?${queryparams.toString()}`
				<% } %>
			}

			return idx = i
		}

		slideshow.on('scroll', function () {
			if (this.scrollLeft % slidewidth === 0) {
				idx = Math.round(this.scrollLeft / slidewidth)
				d3.selectAll('.dot').classed('highlight', (d, i) => i === idx)
				d3.selectAll('button.slide-nav').classed('hide', d => {
					if (d.class === 'prev' && idx === 0) {
						<% if (pages && locals.metadata.page.id === 1) { %>
							return true
						<% } else { %>
							return false
						<% } %>
					} else if (d.class === 'next' && idx === slides.size() - 1) {
						<% if (pages && locals.metadata.page.id === pages) { %>
							return true
						<% } else { %>
							return false
						<% } %>
					} else return false
				})
			}
		})
	}


	// THIS IS THE LAZY LOADING MECHANISM
	if (<%- JSON.parse(locals.metadata.page.lazyload) %>) {
		window.onscroll = async function (ev) {
			if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight && !lazyloading) {
				console.log('hit the bottom')
				main.select('.lds-ellipsis').classed('hide', false)

				if (!isNaN(page)) page ++
				lazyloading = true

				const url = new URL(window.location)
				const queryparams = new URLSearchParams(url.search)
				queryparams.set('page', page)

				const response = await GET(`?${queryparams.toString()}`) // NO TARGET NEEDED SINCE SAME AS CURRENT PAGE

				d3.selectAll('section.container div.layout')
				.each(function (d) {
					const section = d3.select(this)
					response.sections.find(s => s.status === d.status).data.forEach(c => section.call(renderVignette, { data: c, display: '<%- pagedisplay %>' }))
				})

				if (response.count < <%- locals.stats?.filtered || 0 %>) lazyloading = false
				else main.select('.lds-ellipsis').classed('hide', true)
			}
		}
	} else { // PAGINATION MECHANISM
		d3.selectAll('.pagination a.page-link:not(.static)').each(function () {
			const sel = d3.select(this)
			const url = new URL(window.location)
			const queryparams = new URLSearchParams(url.search)
			queryparams.set('page', sel.attr('data-page'))
			sel.attr('href', `?${queryparams.toString()}`)
		})
	}

	<% if (pagedisplay === 'slideshow') { %>
		window.addEventListener('keydown', function (e) {
			// SET THE LEFT/RIGHT KEYBOARD NAVIGATION IF IN SLIDESHOW DISPLAY
			if (document.activeElement === document.body) { // NOTHING IS IN FOCUS/ BEING EDITED
				if (e.key === 'ArrrowRight' || e.keyCode === 39) {
					d3.select('button.slide-nav.next:not(.hide)').node()?.click()
				}
				if (e.key === 'ArrowLeft' || e.keyCode === 37) {
					d3.select('button.slide-nav.prev:not(.hide)').node()?.click()
				}
			}
		})
	<% } %>

	window.addEventListener('keyup', function (e) {
		e = e || event
		if (e.key === 'Escape' || e.keyCode === 27) {
			d3.selectAll('.modal').remove()

			<% if (pagedisplay === 'slideshow') { %>
				const url = new URL(window.location)
				const queryparams = new URLSearchParams(url.search)
				queryparams.delete('display')
				window.location = `${url.pathname}?${queryparams.toString()}`
			<% } %>
		}
	})

	window.onload = function () {
		<% if (!mapscale || mapscale === 'contain') { %>
			renderSections(<%- JSON.stringify(locals.sections) %>)
		<% } %>
	}
</script>
</body>
</html>
