<!DOCTYPE html>
<%
	// CREATE ALIASES
	const publicpage = locals.metadata.page.public
	const modules = locals.metadata.site.modules
	const metafields = locals.metadata.site.metafields
	const activity = locals.metadata.page.activity
	const object = locals.metadata.page.object
	const rights = locals.metadata.user.rights
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const pagedisplay = locals.metadata.page.display
	const anonymized = locals.metadata.page.query?.anonymize?.includes('true')

	let editing = ['contribute', 'edit'].includes(activity)
	// if (rights === 3 && locals.metadata.user.uuid !== locals.data.owner) editing = false // TO DO: DO THIS IN BACK END AND MAKE EDITABLE ONLY UPON CLICKING

	const templated = locals.templated || locals.display_template !== null
%>
<html lang='<%- language %>'>
<head>

<%- include ('../../partials/head.ejs') %>

<% if (locals.metadata.page.map) { %>
	<link rel='stylesheet' href='https://unpkg.com/leaflet@1.6.0/dist/leaflet.css'
		integrity='sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=='
		crossorigin=''/>
	<script src='https://unpkg.com/leaflet@1.6.0/dist/leaflet.js'
		integrity='sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=='
		crossorigin=''></script>
<% } %>

<%- include ('./modules/data.ejs') %>

<script type='module' src='/js/contribute/pad/load.js'></script>
<script type='module' src='/js/contribute/pad/keyboard.interactions.js'></script>
<script type='module' src='/js/contribute/comment/load.js'></script>

</head>

<body>

<%- include ('../../partials/navigate/menu-languages.ejs') %>

<%- include('../../partials/pagestats.ejs') %>


<!-- IF THIS PAD IS A FOLLOW UP, THEN DO NOT ADD THE MENU TO SAVE SCREEN SPACE -->
<div class='main-content<% if (pagedisplay.includes("adjacent")) { %> adjacent<% } else { %> fit<% } %>'>
<header<% if (pagedisplay === 'slideshow' || pagedisplay.includes('adjacent')) { %> class='folded'<% } %>>
	<div class='inner'>
		<%- include ('../../partials/navigate/sidebar.ejs') %>
	</div>
</header>

<% if (!pagedisplay.includes('adjacent')) { %>
	<div class='filler m'></div>
<% } %>

<%- include ('../../partials/modals.ejs') %>

<% if (locals.source) { %>
	<% if (pagedisplay === 'adjacent-source') { %>
		<% if (object !== 'review' && !locals.data?.is_review) { %>
			<div class='display-option display-source split-screen lg xl xxl'>
				<a>
					<button data-vocab='hide source'></button>
				</a>
			</div>
		<% } %>
		<div class='document source-container split-screen m lg xl xxl'>
			<main id='source' class='pad'>
				<div class='inner'>
					<div class='head'>
						<div class='title'></div>
					</div>
					<div class='body'></div>
				</div>
			</main>
		</div>
	<% } else { %>
		<div class='display-option display-source m lg xl xxl <% if (locals.data?.reviews?.length > 0) { %>split-screen<% } %>'>
			<a>
				<button data-vocab='display source'></button>
			</a>
		</div>
	<% } %>
<% } %>

<!-- ONLY MAKE REVIEWS VIEWABLE IF THE PAD BELONGS TO THE CURRENT USER, OR IF THE CURRENT USER IS ONE OF THE REVIEWERS -->
<% if (locals.data?.reviews?.length > 0
	&& (locals.data.owner === locals.metadata.user.uuid || locals.data.reviews.some(d => d.owner === locals.metadata.user.uuid) || rights > 2)
){ %>
	<% if (pagedisplay === 'adjacent-reviews') { %>
		<div class='display-option display-reviews split-screen right lg xl xxl google-translate-attr'>
			<a>
				<button data-vocab='hide reviews'></button>
			</a>
		</div>
		<div id='reviews' class='document split-screen right lg xl xxl'>
			<% locals.data.reviews.forEach((d, i) => { %>
				<main id='review-<%- i %>' class='review pad' data-id='<%= d.id %>' data-idx='<%= i %>'>
					<div class='inner'>
						<div class='head'>
							<div class='title'><span data-vocab='["review", "singular"]'></span>#<%= i + 1 %></div>
						</div>
						<div class='body'></div>
					</div>
				</main>
			<% }) %>
		</div>
	<% } else { %>
		<div class='display-option display-reviews lg xl xxl google-translate-attr<% if (locals.source) { %> split-screen right<% } %>'>
			<a>
				<button data-vocab='display reviews'></button>
			</a>
		</div>
	<% } %>
<% } %>


<!-- PB HERE WITH THE else if FOR SLIDESHOW OF A PAD THAT HAS A SOURCE BUT IS NOT DISPLAYED ADJACENT -->
<div class='document<% if ((locals.source || locals.data?.reviews?.length > 0) && !["adjacent-source", "adjacent-reviews", "slideshow"].includes(pagedisplay)) { %> offset<% } else if (locals.source && pagedisplay === "adjacent-source") { %> split-screen right<% } else if (locals.data?.reviews?.length > 0 && pagedisplay === "adjacent-reviews") { %> split-screen left<% } else if (pagedisplay === "slideshow") { %> slideshow<% } %>'>
	<main id='<%= object %>' class='pad'>
		<div class='inner'>
			<% if (editing) { %>
				<div class='meta-status status-<%- locals.data?.status || 0 %>'>
					<div class='btn-group'>
						<% if (editing) { %>
							<div class='save xs sm google-translate-attr'>
								<form>
									<button type='button' data-vocab='save' disabled></button>
								</form>
								<!-- TO DO: CHECK THIS IS HANDLED PROPERLY IN js/contribute/pad.js -->
							</div>
						<% } %>
						<form method='GET' action='/publish/<%- `${object}s` %>'>
							<input type='hidden' name='id' value='<%- locals.data?.id %>'>
							<%
								const currentpage_url = new URL(locals.metadata.page.currentpage_url)
								const queryparams = new URLSearchParams(currentpage_url.search)
								const token = queryparams.get('token')
								const action = queryparams.get('action')
							%>

							<% if ((locals.data?.status || 0) < 1
								|| ((locals.data?.status || 0) === 2 && !locals.data?.publishable)
								|| (locals.data?.status || 0) === 3
								|| (object === 'review' && (locals.data?.status || 0) === 2))
							{ %>
								<% if (object === 'review') { %>
									<input type='hidden' name='source' value='<%- locals.source %>'>
									<button type='submit' class='publish' name='status' value='2' data-vocab='submit review' disabled></button>
								<% } else if (publicpage) { %>
									<button id='save-and-submit' type='button' class='publish' name='status' value='1' disabled data-vocab='submit'></button>
								<!-- IF THERE IS A TOKEN WITH A CALLBACK URL, THEN THIS SHOULD AUTO SUBMIT AND SEND BACK THE PAD ID TO THE REQUESTING SOURCE -->
								<% } else if (token && action === 'publish_and_share') { %>
									<input type='hidden' name='token' value='<%- token %>'>
									<button type='submit' class='publish' name='status' value='3' data-vocab='save' disabled></button>
								<% } else { %>
									<button type='button' class='publish google-translate-attr' data-vocab='publish' disabled></button>
								<% } %>
							<% } else { %>
								<% if (object === 'review') { %>
									<input type='hidden' name='source' value='<%- locals.source %>'>
									<button type='submit' class='publish' name='status' value='2' data-vocab='submit review'></button>
								<% } else if (publicpage) { %>
									<!-- TO DO: INTERCEPT AND partialSave -->
									<button type='submit' class='publish google-translate-attr' name='status' value='1' data-vocab='submit'></button>
								<% } else { %>
									<% if (locals.data?.status === 2 && locals.data?.review_status === 1) { %>
										<!-- THE PAD IS ALREADY A PREPRINT AND SUBMITTED FOR REVIEW -->
										<button type='button' class='publish google-translate-attr' data-vocab='publish' disabled></button>
									<% } else { %>
										<button type='button' class='publish google-translate-attr' data-vocab='publish'></button>
									<% } %>
								<% } %>
							<% } %>
							<% if (
								object !== 'review' 
								&& !publicpage
								&& !(token && action === 'publish_and_share')
							) { %>
								<div class='dropdown'>
									<menu class='opts'>
										<% if (modules.some(d => d.type === 'reviews')) { %>
											<% if ((locals.data?.status || 0) < 2) { %>
												<li class='opt google-translate-attr'>
													<button type='submit' name='status' value='2' data-vocab='["object status", "<%= object %>", "2", "singular"]'></button>
												</li>
											<% } %>
											<% if ((locals.data?.status || 0) <= 2
												&& (locals.data?.review_status === 0))
											{ %>
												<li class='opt google-translate-attr'>
													<button id='submit-for-review' type='button' name='review_status' value='1' data-vocab='submit for review'></button>
												</li>
											<% } %>
										<% } else { %>
											<% if ((locals.data?.status || 0) < 2) { %>
												<li class='opt google-translate-attr'>
													<button type='submit' name='status' value='2' data-vocab='internally'></button>
												</li>
											<% } %>
											<% if (
												(locals.data?.status || 0) <= 2
												&& (locals.data?.publishable !== undefined ? locals.data?.publishable : true)

											) { %>
												<li class='opt google-translate-attr'>
													<button type='submit' name='status' value='3' data-vocab='externally'></button>
												</li>
											<% } %>
										<% } %>
									</menu>
								</div>
							<% } %>
						</form>
						<% if (!publicpage) { %>
							<!-- TO DO: THIS DOES NOT WORK WHEN THE PAD HAS JUST BEEN CREATED -->
							<!-- AND MAKE SURE ALL FIELDS ARE CLEARED BEFORE SHOWING THIS -->
							<!-- AS ESSENTIALLY THIS IS PUBLISHING THE PAD -->
							<!-- TO DO: REMOVE if (false) TO REACTIVATE THIS -->
							<% if (false) { %>
								<form class='lg xl xxl' method='POST' action='/generate/pdf'>
									<input type='hidden' name='id' value='<%- locals.metadata?.page?.query?.id?.[0] %>'>
									<input type='hidden' name='lang' value='<%- locals.metadata?.page?.lang %>'>
									<% if (locals.data?.status === 0 || !locals.data?.status) { %>
										<button type='submit' class='generate-pdf google-translate-attr' disabled>
											<span data-vocab='generate file'></span> .pdf
										</button>
									<% } else if (locals.data?.status > 0) { %>
										<button type='submit' class='generate-pdf google-translate-attr'>
											<span data-vocab='generate file'></span> .pdf
										</button>
									<% } %>
								</form>
							<% } %>
						<% } %>
					</div>
				</div>
			<% } %>

			<!-- IF THE PAD IS A CONTRIBUTION TO A MOBILIZATION, DISPLAY THE MOBILIZATION INFORMATION -->
			<% if (locals.display_mobilization && !locals.data?.id && editing) { %>
				<div class='meta-info mobilization-info'>
					<h1><%- locals.display_mobilization.title %></h1>
					<p><%- locals.display_mobilization.description %></p>
				</div>
				<% if (pagedisplay !== 'slideshow') { %>
					<button class='scroll-nav'><label class='rotate'>&rsaquo;</label></button>
				<% } %>
			<% } %>

			<!-- IF THE PAD IS AN OPEN CONTRBITUTION, DO NOT ADD THE TITLE, IT WILL BE DISPLAYED WITH A PROMPT IN THE media SECTIONS -->
			<% if (!(publicpage && editing && templated)) { %>
				<div class='head scroll-target'>
					<% if (object !== 'review' && !locals.data?.is_review) { %>
						<% if (locals.metadata.page.referer?.includes('browse/pads')) { %>
							<a href='<%- locals.metadata.page.referer %>' class='return google-translate-attr' data-vocab='back to browse'></a>
						<% } else { %>
							<a href='<%- `/${language}/browse/pads/private` %>' class='return google-translate-attr' data-vocab='back to browse'></a>
						<% } %>
						<% if (editing) { %>
							<div class='title' data-placeholder='untitled pad' contenteditable></div>
						<% } else { %>
							<div class='title' data-placeholder='untitled pad'></div>
						<% } %>
						<!-- TO DO: FIX THIS: FOR SOME REASON NOTHING WORKS HERE WHEN IN REVIEW MODE -->
						<% if (!anonymized) { %>
							<% if (!(activity === 'contribute' || locals.metadata.user.uuid === locals.data?.owner)) { %>
								<% if (activity === 'edit') { %>
									<div class='contributor google-translate-attr'>
										<span data-vocab='credit'></span> <a href='/<%= language %>/browse/pads/public?contributors=<%= locals.data?.owner %>'><%= locals.data?.ownername %></a>.
									</div>
									<div class='meta meta-country'><%= locals.data?.country %></div>
									<div class='meta meta-date google-translate-attr'>
										<%= new Date(locals.data?.date.date)?.toLocaleDateString(language, { year: 'numeric', month: 'long', day: 'numeric' }) %>
									</div>
								<% } else { %>
									<div class='contributor'>
										<span data-vocab='credit'></span> <a href='/<%= language %>/browse/pads/public?countries=<%= locals.data?.iso3 %>'><%= locals.data?.country %></a>.
									</div>
									<div class='meta meta-date google-translate-attr'>
										<%= new Date(locals.data?.date.date)?.toLocaleDateString(language, { year: 'numeric', month: 'long', day: 'numeric' }) %>
									</div>
								<% } %>
							<% } %>
						<% } %>
					<% } else { %><!-- IF THE PAD IS A REVIEW, SO THE TITLE ONLY NEEDS TO BE THE REVIEWER ID -->
						<% if (locals.metadata.page.referer?.includes('browse/reviews')) { %>
							<a href='<%- locals.metadata.page.referer %>' class='return' data-vocab='back to reviews'></a>
						<% } else { %>
							<a href='<%- `/${language}/browse/reviews/ongoing` %>' class='return' data-vocab='back to reviews'></a>
						<% } %>
						<div class='title google-translate-attr'>
							<span data-vocab='["review", "singular"]'></span> #<%= locals.data?.review_idx %>
						</div>
					<% } %>
					<!-- TO DO: ADD OTHER STATS -->
					<div class='engagement-group page-stats'>
						<button class='engagement engagement-reads'>
							<img class='engagement-reads-icon' src='/imgs/icons/i-eye.svg' />
							<span class='engagement-reads-count'><%= locals.data?.readCount ?? '-' %></span>
						</button>
					</div>
				</div>
			<% } %>
			<div class='body'>
				<% if (!publicpage && !locals.display_mobilization && templated && (object !== 'review' && !locals.data?.is_review)) { %>
					<section class='description-layout layout view'><!-- THIS IS ALWAYS IN VIEW MODE IF DISPLAYED -->
						<% if (!publicpage) { %>
							<div class='meta-container template-container'>
								<div class='meta meta-template google-translate-attr'>
									<i data-vocab='pad based on'></i>&nbsp;
									<a href='/<%- language %>/view/template?id=<%- locals.display_template.id %>'>
									<%= locals.display_template.title %></a>
								</div>
							</div>
						<% } %>
						<div class='media-container txt-container'>
							<div class='media media-txt'>
								<%- locals.display_template.description %>
							</div>
						</div>
					</section>
				<% } %>
			</div>
			<% if (locals.metadata?.user?.uuid) { %>
			<div class='exploration-local'></div>
			<% } %>
		</div>
	</main>
</div>
<% if (!pagedisplay.includes('adjacent')) { %>
<div class='sidebar xs sm m lg xl xxl'>
	<% if (editing && !publicpage && (!templated || ![null, undefined].includes(locals.display_template.medium)))
	{ %>
		<button class='input-toolbox xs sm'><i class='material-icons google-translate-attr'>edit</i></button>
		<div class='media-input-group input-group' tabindex=1>
			<% if (!templated) { %><button class='scroll-up m lg xl xxl'><label>&rsaquo;</label></button><% } %>
			<div class='inner'>
				<div class='btn-group'>
				<% if (!templated) { %>
					<button id='input-media-section' title='Add a section.'><i class='material-icons google-translate-attr'>add_circle</i></button>

					<div class='vertical-separator'></div>
					<!-- TO DO: TRANSLATE title INFO -->
					<form action='/upload/img' method='POST' enctype='multipart/form-data'>
						<input type='file' id='input-media-img' name='img' accept='image/*' multiple>
						<label for='input-media-img' title='Upload an image. You can also use the “i” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>add_photo_alternate</i></label>
					</form>
					<form action='/upload/video' method='POST' enctype='multipart/form-data'>
						<input type='file' id='input-media-video' name='video' accept='video/mp4,video/x-m4v,video/webm,video/*'>
						<label for='input-media-video' title='Add a video. You can also use the “v” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>ondemand_video</i></label>
					</form>

					<button id='input-media-drawing' title='Add a drawing. You can also use the “d” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>gesture</i></button>
					<button id='input-media-txt' title='Add a text block. You can also use the “t” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>text_fields</i></button>
					<button id='input-media-embed' title='Embed a link or HTML code. Simply paste the link to the video to see it displayed. You can also use the “e” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>code</i></button>
					<button id='input-media-checklist' title='Add a checklist. You can also use the “l” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>check_box</i></button>
					<button id='input-media-radiolist' title='Add a radiolist. You can also use the “r” key as a keyboard shortcut.'><i class='material-icons google-translate-attr'>radio_button_checked</i></button>

					<div class='vertical-separator'></div>
				<% } %>
				<% if (!templated || ![null, undefined].includes(locals.display_template.medium)) { %>
					<% metafields.forEach(d => { %>
						<button class='labeled google-translate-attr' id='input-meta-<%- d.label %>' title='Add one or more <%- d.name %> tag(s).'>
							<img class='meta-icon' data-src='/imgs/icons/i-<%- d.label.replace(/\_/, "-") %>-btn.svg' alt='<%- d.name %>' data-fallback='/imgs/icons/i-generic-<%- d.type.replace(/\_/, "-") %>-btn.svg' />
							<label class='lg xl xxl'>
								<span>
									<span data-vocab='add tags'></span> <%= d.name.toLowerCase() %>
								</span>
							</label>
						</button>
					<% }) %>
				<% } %>
				</div>
			</div>
			<% if (!templated) { %><button class='scroll-down m lg xl xxl'><label>&rsaquo;</label></button><% } %>
		</div>
	<% } %>
</div>
<% } %>
</div>

<% if (pagedisplay !== 'slideshow') { %><footer class='pad'>
<% } else { %><footer class='pad slideshow'><% } %>
	<% if (locals.metadata.site.engagementtypes.includes('comment')
		&& locals.data?.status >= 2
		&& !pagedisplay.includes('adjacent')
	) { %>
		<div class='filler lg'></div>
		<div class='inner'>
			<% if (pagedisplay !== 'slideshow') { %>
				<h2 class="google-translate-attr">
					<%- locals.comments?.length || 0 %> <span data-vocab='["comment", "<%= locals.comments?.length !== 1 ? "plural" : "singular" %>"]'></span>
				</h2>
				<form class="google-translate-attr" action='/comment' method='POST'>
					<input type='hidden' name='id' value='<%- locals.data?.id %>'>
					<input type='hidden' name='object' value='<%- object %>'>
					<textarea id='input-media-comment' name='message' data-placeholder='test' required></textarea>
					<label for='input-media-comment' data-vocab='comment publicly'></label>
					<div class='btn-group'>
						<button type='submit' data-vocab='["comment", "verb"]' disabled></button>
					</div>
				</form>

				<ul class='comments'>
					<% locals.comments?.forEach((d, i) => { %>
						<li class='comment'>
							<div class='head'>
								<div class='meta meta-data'>
									<div class='meta meta-contributor'><a href='../browse/pads/public?contributors=<%- d.contributor %>'><%- d.ownername %></a></div>
									<div class='meta meta-date google-translate-attr'>
										<%= new Date(d.date.date).toLocaleDateString(language, { year: 'numeric', month: 'long', day: 'numeric' }) %>
									</div>
								</div>
							</div>
							<div class='body'>
								<%- d.message %>
							</div>
							<div class='foot'>
								<button type='button' class='expand-collapsed google-translate-attr <% if (d.replies?.length > 0) { %>wide<% }%>'>
									<% if (d.replies?.length > 0) { %>
										<span data-vocab='read'> <%= d.replies.length %> <span data-vocab='["relpy", "<%= d.replies.length !== 1 ? "plural" : "singular" %>"]'></span>
									<%} else { %>
										<span data-vocab='["reply", "verb"]'></span>
									<%} %>
								</button>
								<div class='collapsed'>
									<% if (d.replies?.length > 0) { %>
										<ul class='comments replies'>
											<% d.replies.forEach(c => { %>
											<li class='comment'>
												<div class='head'>
													<div class='meta meta-data'>
														<div class='meta meta-contributor'><a href='../browse/pads/public?contributors=<%- d.contributor %>'><%- c.ownername %></a></div>
														<div class='meta meta-date google-translate-attr'>
															<%= new Date(c.date.date).toLocaleDateString(language, { year: 'numeric', month: 'long', day: 'numeric' }) %>
														</div>
													</div>
												</div>
												<div class='body'>
													<%- c.message %>
												</div>
											</li>
											<% }) %>
										</ul>
									<% } %>
									<form action='/comment' method='POST'>
										<input type='hidden' name='id' value='<%- locals.data?.id %>'>
										<input type='hidden' name='object' value='<%- object %>'>
										<input type='hidden' name='source' value='<%- d.id %>'>
										<textarea id='input-media-comment-<%= i %>' name='message' data-placeholder='test' required></textarea>
										<!-- <label for='input-media-comment' data-label='Jeremy'>Reply publicly</label> -->
										<label for='input-media-comment<%= i %> google-translate-attr' data-vocab='reply publicly'></label>
										<div class='btn-group google-translate-attr'>
											<button type='submit' data-vocab='["reply", "verb"]' disabled></button>
										</div>
									</form>
								</div>
							</div>
						</li>
					<% }) %>
				</ul>
			<% } else { %>
				<div class='dots'></div>
			<% } %>
		</div>
	<% } else if (pagedisplay === 'slideshow') { %>
		<div class='inner'>
			<div class='dots'></div>
		</div>
	<% } %>
</footer>

<%- include ('../../partials/footer.ejs') %>
	
<% if (locals.metadata?.user?.uuid) { %>
	<!-- <script type='text/javascript' src='/js/exploration.js' defer></script> -->
	<!-- <script type='text/javascript' src='/js/contribute/pad/exploration.js' defer></script> -->
<% } %>

</body>
</html>
