<% 
	if (!locals.filters) locals.filters = {}
	const query = locals.metadata.page.query
%>

<nav id='filters'>
	<div class='inner'>
		<!-- TO DO: TRANSLATE -->
		<% if (query.search && query.search.filter(c => c.length).length) { %>
			<p>Search terms</p>
			<div class='filters-group search-filters'>
				<div class='active-filters'>
					<% query.search.filter(c => c.length).forEach(c => { %>
						<div class='tag' data-type='Contributor' data-value='<%- c %>'>
							<label class='type'>Keyword:</label> 
							<label class='name'>
								<% if (c.length > 25) { %>
									<%- c.slice(0, 25) %>…
								<% } else { %>
									<%- c %>	
								<% } %>
							</label>
							<label class='close'>x</label>
					<% }) %>
				</div>
			</div>
		<% } %>
		<% if (query.contributors || query.countries || query.templates || query.mobilizations || query.methods || query.datasources || query.thematic_areas || query.sdgs) { %>
			<p>Filters</p>
			<% if (query.contributors || query.countries || query.templates || query.mobilizations) { %>
				<div class='filters-group meta-filters'>
					<div class='active-filters'>
						<!-- TO DO: TRANSLATE -->
						<% if (query) { %>
							<% if (query.contributors) { 
								query.contributors.forEach(c => { %>
									<div class='tag' data-type='Contributor' data-value='<%- c %>'>
										<label class='type'>Contributor:</label> 
										<label class='name'>
											<% if (locals.filters.contributors.find(d => +d.id === +c).name.length > 25) { %>
												<%- locals.filters.contributors.find(d => +d.id === +c).name.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.contributors.find(d => +d.id === +c).name %>	
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.countries) { 
								query.countries.forEach(c => { %>
									<div class='tag' data-type='Contributor' data-value='<%- c %>'>
										<label class='type'>Contributor:</label> 
										<label class='name'>
											<% if (locals.filters.countries.find(d => +d.id === +c).name.length > 25) { %>
												<%- locals.filters.countries.find(d => +d.id === +c).name.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.countries.find(d => +d.id === +c).name %>	
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.templates) { 
								query.templates.forEach(c => { %>
									<div class='tag' data-type='Template' data-value='<%- c %>'>
										<label class='type'>Template:</label> 
										<label class='name'>
											<% if (locals.filters.templates.find(d => +d.id === +c).title.length > 25) { %>
												<%- locals.filters.templates.find(d => +d.id === +c).title.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.templates.find(d => +d.id === +c).title %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.mobilizations) { 
								query.mobilizations.forEach(c => { %>
									<div class='tag' data-type='Mobilization' data-value='<%- c %>' title='<%- locals.filters.mobilizations.find(d => +d.id === +c).title %>'>
										<label class='type'>Mobilization:</label>
										<label class='name'>
											<% if (locals.filters.mobilizations.find(d => +d.id === +c).title.length > 25) { %>
												<%- locals.filters.mobilizations.find(d => +d.id === +c).title.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.mobilizations.find(d => +d.id === +c).title %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
						<% } %>
					</div>
				</div>
			<% } %>
			<% if (query.methods || query.datasources || query.thematic_areas || query.sdgs) { %>
				<div class='filters-group content-filters'>
					<div class='active-filters'>
						<!-- TO DO: TRANSLATE -->
						<% if (query) { %>
							<% if (query.methods) { 
								query.methods.forEach(c => { %>
									<div class='tag' data-type='Method' data-value='<%- c %>'>
										<label class='type'>Method:</label> 
										<label class='name'>
											<% if (locals.filters.methods.find(d => +d.tag_id === +c).tag_name.length > 25) { %>	
												<%- locals.filters.methods.find(d => +d.tag_id === +c).tag_name.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.methods.find(d => +d.tag_id === +c).tag_name %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.datasources) { 
								query.datasources.forEach(c => { %>
									<div class='tag' data-type='Data source' data-value='<%- c %>'>
										<label class='type'>Data source:</label> 
										<label class='name'>
											<% if (locals.filters.datasources.find(d => +d.tag_id === +c).tag_name.length > 25) { %>	
												<%- locals.filters.datasources.find(d => +d.tag_id === +c).tag_name.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.datasources.find(d => +d.tag_id === +c).tag_name %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.thematic_areas) { 
								query.thematic_areas.forEach(c => { %>
									<div class='tag' data-type='Thematic area' data-value='<%- c %>'>
										<label class='type'>Thematic area:</label>
										<label class='name'>
											<% if (locals.filters.thematic_areas.find(d => +d.tag_id === +c).tag_name.length > 25) { %>
												<%- locals.filters.thematic_areas.find(d => +d.tag_id === +c).tag_name.slice(0, 25) %>…
											<% } else { %>
												<%- locals.filters.thematic_areas.find(d => +d.tag_id === +c).tag_name %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
							<% if (query.sdgs) { 
								query.sdgs.forEach(c => { %>
									<div class='tag' data-type='SDG' data-value='<%- c %>'>
										<label class='type'>SDG:</label>
										<label class='name'>
											<% if (locals.filters.sdgs.find(d => +d.tag_id === +c).tag_name.length > 25) { %>
												<%- locals.filters.sdgs.find(d => +d.tag_id === +c).tag_name.slice(0, 25) %>
											<% } else { %>		
												<%- locals.filters.sdgs.find(d => +d.tag_id === +c).tag_name %>
											<% } %>
										</label>
										<label class='close'>x</label>
									</div>
								<% }) 
							} %>
						<% } %>
					</div>
				</div>
			<% } %>
		<% } %>
	</div>
</nav>

<script type='text/javascript'>
	d3.selectAll('nav#filters div.search-filters div.tag label.close')
	.on('click', function () {
		const sel = d3.select(this)
		const tag = sel.findAncestor('tag')
		const data_value = tag.attr('data-value')

		const search_terms = (<%- JSON.stringify(query.search || []) %>).filter(d => d !== data_value)
		const filter_form = d3.select('nav.browse-filters')
		filter_form.selectAll('input[type=text]').each(function () {
			this.value = search_terms.join(' OR ')
			fixLabel(this)
		})
		filter_form.select('div.submission button.search').node().click()
	})
	d3.selectAll('nav#filters div.meta-filters div.tag label.close, nav#filters div.content-filters div.tag label.close')
	.on('click', function () {
		const sel = d3.select(this)
		const tag = sel.findAncestor('tag')
		const data_type = tag.attr('data-type')
		const data_value = tag.attr('data-value')

		const filter_form = d3.select('nav.browse-filters')
		filter_form.selectAll('input[type=checkbox]').filter(function () {
			return d3.select(this).attr('data-type') === data_type && this.value === data_value
		}).node().checked = false
		filter_form.select('div.submission button.search').node().click()
	})

</script>