<% 
	if (!locals.filters) locals.filters = {}
	const query = locals.metadata.page.query
%>

<div class='veil filter-veil hide'>
	<nav class='browse-filters'>
		<div class='handle'>
			<button class='close' onclick='d3.select(this).findAncestor("veil").classed("hide", true)'>
				<label>Close<span>X</span>
				</label>
			</button>
		</div>
		<form action='' method='GET'><!-- WE KEEP ACTION EMPTY BECAUSE JUST AN EXTENSION OF CURRENT ENDPOINT -->
			<div class='query'>
				<% if (query.search && query.search.length) { %>
					<input type='text' name='search' id='search-field' class='has-value' value='<%- query.search.join(" OR ") %>' onblur='fixLabel(this)'>
				<% } else { %>
					<input type='text' name='search' id='search-field' onblur='fixLabel(this)'>
				<% } %>
				<label for='search-field'><%- vocabulary["search"][locals.metadata.page.lang] %></label>
				<button id='search'><i class='material-icons'>search</i></button>
			</div>
			<div class='filters'>
				<p>Filters</p>

				<div class='filters-group meta-filters'>
					<div class='active-filters'>
						<!-- TO DO: TRANSLATE -->
						<% if (query) { %>
							<% if (query.contributors) { 
								query.contributors.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Contributor:</small> 
										<%- locals.filters.contributors.find(d => +d.id === +c).name %>
										</label>
									</div>
								<% }) 
							} %>
							<% if (query.templates) { 
								query.templates.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Template:</small> 
										<%- locals.filters.templates.find(d => +d.id === +c).title %>
										</label>
									</div>
								<% }) 
							} %>
							<% if (query.mobilizations) { 
								query.mobilizations.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Mobilization:</small> 
										<%- locals.filters.mobilizations.find(d => +d.id === +c).title %>
										</label>
									</div>
								<% }) 
							} %>
						<% } %>
					</div>
					<div class='filter'>
						<button type='button'>
							<label>Contributors</label>
							<% if (query.contributors) { %><label class='count'><%- query.contributors.length %><% } %></label>
						</button>
						<div class='drop-down'>
							<ul>
								<!-- TO DO: TRANSLATE -->
								<% locals.filters.contributors.forEach((c, j) => { %>
									<% if (locals.metadata.page.space === 'private') { %>
										<% if (query.contributors && query.contributors.map(q => +q).includes(+c.id)) { %>
										<li class='entry active'>
											<input type='checkbox' name='contributors' id='contributor-<%- c.id %>' value='<%- c.id %>' data-type='Contributor' data-value='<%- c.name %>' checked>
										<% } else { %>
										<li class='entry'>
											<input type='checkbox' name='contributors' id='contributor-<%- c.id %>' value='<%- c.id %>' data-type='Contributor' data-value='<%- c.name %>'>
										<% } %>
											<label for='contributor-<%- c.id %>'><%- c.name %></label>
											<label for='contributor-<%- c.id %>' class='count'><%- c.count %></label>
										</li>
									<% } else { %>
										<% if (query.contributors && query.contributors.filter(q => q.values.filter(r => +r === +c.id).length).length) { %>
										<li class='entry active'>
											<% c.values.forEach(d => { %>
												<input type='hidden' name='contributors' value='<%- d.id %>'>
											<% }) %>	
											<input type='checkbox' name='country' id='contributor-<%- j %>' value='<%- c.key %>' data-type='Contributor' data-value='<%- c.key %>' checked>
										<% } else { %>
										<li class='entry'>
											<% c.values.forEach(d => { %>
												<input type='hidden' name='contributors' value='<%- d.id %>' disabled>
											<% }) %>
											<input type='checkbox' name='country' id='contributor-<%- j %>' value='<%- c.key %>' data-type='Contributor' data-value='<%- c.key %>'>
										<% } %>
											<label for='contributor-<%- j %>'><%- c.key %></label>
											<label for='contributor-<%- j %>' class='count'><%- c.count %></label>
										</li>
									<% } %>
								<% }) %>
							</ul>
						</div>
					</div>
					<div class='filter'>
						<button type='button'>
							<label>Templates</label>
							<% if (query.templates) { %><label class='count'><%- query.templates.length %><% } %></label>
						</button>
						<div class='drop-down'>
							<ul>
								<!-- TO DO: TRANSLATE -->
								<% locals.filters.templates.forEach(t => { %>
									<% if (query.templates && query.templates.map(q => +q).includes(+t.id)) { %>
									<li class='entry active'>
										<input type='checkbox' name='templates' id='template-<%-t.id %>' value='<%- t.id %>' data-type='Template' data-value='<%- t.title %>' checked>
									<% } else { %>
									<li class='entry'>
										<input type='checkbox' name='templates' id='template-<%-t.id %>' value='<%- t.id %>' data-type='Template' data-value='<%- t.title %>'>
									<% } %>
										<label for='template-<%- t.id %>'><%- t.title %></label>
										<label for='template-<%- t.id %>' class='count'><%- t.count %></label>
									</li>
								<% }) %>
							</ul>
						</div>
					</div>
					<div class='filter'>
						<button type='button'>
							<label>Mobilizations</label>
							<% if (query.mobilizations) { %><label class='count'><%- query.mobilizations.length %><% } %></label>
						</button>
						<div class='drop-down'>
							<ul>
								<!-- TO DO: TRANSLATE -->
								<% locals.filters.mobilizations.forEach(m => { %>
									<% if (query.mobilizations && query.mobilizations.map(q => +q).includes(+m.id)) { %>
									<li class='entry active'>
										<input type='checkbox' name='mobilizations' id='mobilization-<%-m.id %>' value='<%- m.id %>' data-type='Mobilization' data-value='<%- m.title %>' checked>
									<% } else { %>
									<li class='entry'>
										<input type='checkbox' name='mobilizations' id='mobilization-<%-m.id %>' value='<%- m.id %>' data-type='Mobilization' data-value='<%- m.title %>'>
									<% } %>
										<label for='mobilization-<%- m.id %>'><%- m.title %></label>
										<label for='mobilization-<%- m.id %>' class='count'><%- m.count %></label>
									</li>
								<% }) %>
							</ul>
						</div>
					</div>
					<!-- <small>OR join</small> -->
				</div>
				<div class='separator'><span>AND</span></div>
				<div class='filters-group content-filters'>
					<div class='active-filters'>
						<!-- TO DO: TRANSLATE -->
						<% if (query) { %>
							<% if (query.methods) { 
								query.methods.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Method:</small> 
										<%- locals.filters.methods.find(d => +d.tag_id === +c).tag_name %>
										</label>
									</div>
								<% }) 
							} %>
							<% if (query.datasources) { 
								query.datasources.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Data source:</small> 
										<%- locals.filters.datasources.find(d => +d.tag_id === +c).tag_name %>
										</label>
									</div>
								<% }) 
							} %>
							<% if (query.thematic_areas) { 
								query.thematic_areas.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>Thematic area:</small>
										<%- locals.filters.thematic_areas.find(d => +d.tag_id === +c).tag_name %>
										</label>
									</div>
								<% }) 
							} %>
							<% if (query.sdgs) { 
								query.sdgs.forEach(c => { %>
									<div class='tag' data-value='<%- c %>'>
										<label><small>SDG:</small> 
										<%- locals.filters.sdgs.find(d => +d.tag_id === +c).tag_name %>
										</label>
									</div>
								<% }) 
							} %>
						<% } %>
					</div>
					<% if (locals.filters.methods) { %>
						<div class='filter'>
							<button type='button'>
								<label>Methods</label>
								<% if (query.methods) { %><label class='count'><%- query.methods.length %><% } %></label>
							</button>
							<div class='drop-down'>
								<ul>
									<!-- TO DO: TRANSLATE -->
									<% locals.filters.methods.forEach(m => { %>
										<% if (query.methods && query.methods.map(q => +q).includes(m.tag_id)) { %>
										<li class='entry active'>
											<input type='checkbox' name='methods' id='method-<%- m.tag_id %>' value='<%- m.tag_id %>' data-type='Method' data-value='<%- m.tag_name %>' checked>
										<% } else { %>
										<li class='entry'>
											<input type='checkbox' name='methods' id='method-<%- m.tag_id %>' value='<%- m.tag_id %>' data-type='Method' data-value='<%- m.tag_name %>'>
										<% } %>
											<label for='method-<%- m.tag_id %>'><%- m.tag_name %></label>
											<label for='method-<%- m.tag_id %>' class='count'><%- m.count %></label>
										</li>
									<% }) %>
								</ul>
							</div>
						</div>
					<% } %>
					<% if (locals.filters.datasources) { %>
						<div class='filter'>
							<button type='button'>
								<label>Data sources</label>
								<% if (query.datasources) { %><label class='count'><%- query.datasources.length %><% } %></label>
							</button>
							<div class='drop-down'>
								<ul>
									<!-- TO DO: TRANSLATE -->
									<% locals.filters.datasources.forEach(d => { %>
										<% if (query.datasources && query.datasources.map(q => +q).includes(d.tag_id)) { %>
										<li class='entry active'>
											<input type='checkbox' name='datasources' id='datasource-<%- d.tag_id %>' value='<%- d.tag_id %>' data-type='Data source' data-value='<%- d.tag_name %>' checked>
										<% } else { %>
										<li class='entry'>
											<input type='checkbox' name='datasources' id='datasource-<%- d.tag_id %>' value='<%- d.tag_id %>' data-type='Data source' data-value='<%- d.tag_name %>'>
										<% } %>
											<label for='datasource-<%- d.tag_id %>'><%- d.tag_name %></label>
											<label for='datasource-<%- d.tag_id %>' class='count'><%- d.count %></label>
										</li>
									<% }) %>
								</ul>
							</div>
						</div>
					<% } %>
					<% if (locals.filters.thematic_areas) { %>
						<div class='filter'>
							<button type='button'>
								<label>Thematic areas</label>
								<% if (query.thematic_areas) { %><label class='count'><%- query.thematic_areas.length %><% } %></label>
							</button>
							<div class='drop-down'>
								<ul>
									<!-- TO DO: TRANSLATE -->
									<% locals.filters.thematic_areas.forEach(t => { %>
										<% if (query.thematic_areas && query.thematic_areas.map(q => +q).includes(t.tag_id)) { %>
										<li class='entry active'>
											<input type= 'checkbox' name='thematic_areas' id='theme-<%- t.tag_id %>' value='<%- t.tag_id %>' data-type='Thematic area' data-value='<%- t.tag_name %>' checked>
										<% } else { %>
										<li class='entry'>
											<input type='checkbox' name='thematic_areas' id='theme-<%- t.tag_id %>' value='<%- t.tag_id %>' data-type='Thematic area' data-value='<%- t.tag_name %>'>
										<% } %>
											<label for='theme-<%- t.tag_id %>'><%- t.tag_name %></label>
											<label for='theme-<%- t.tag_id %>' class='count'><%- t.count %></label>
										</li>
									<% }) %>
								</ul>
							</div>
						</div>
					<% } %>
					<% if (locals.filters.sdgs) { %>
						<div class='filter'>
							<button type='button'>
								<label>SDGs</label>
								<% if (query.sdgs) { %><label class='count'><%- query.sdgs.length %><% } %></label>
							</button>
							<div class='drop-down'>
								<ul>
									<!-- TO DO: TRANSLATE -->
									<% locals.filters.sdgs.forEach(s => { %>
										<% if (query.sdgs && query.sdgs.map(q => +q).includes(s.tag_id)) { %>
										<li class='entry active'>
											<input type='checkbox' name='sdgs' id='sdg-<%- s.tag_id %>' value='<%- s.tag_id %>' data-type='SDG' data-value='<%- s.tag_name %>' checked>
										<% } else { %>
										<li class='entry'>
											<input type='checkbox' name='sdgs' id='sdg-<%- s.tag_id %>' value='<%- s.tag_id %>' data-type='SDG' data-value='<%- s.tag_name %>'>
										<% } %>
											<label for='sdg-<%- s.tag_id %>'><%- s.tag_id %> – <%- s.tag_name %></label>
											<label for='sdg-<%- s.tag_id %>' class='count'><%- s.count %></label>
										</li>
									<% }) %>
								</ul>
							</div>
						</div>
					<% } %>
				</div>
				<!-- <small>OR join</small> -->
			</div>
			<div class='submission'>
				<button type='button' class='reset'>Reset</button>
				<button type='submit' class='search'>Search</button>
			</div>
		</form>
	</div>
</div>


<script type='text/javascript'>
	d3.selectAll('nav.browse-filters input[type=checkbox]')
	.on('change', function () {
		const sel = d3.select(this)
		const value = this.value
		const entry = sel.findAncestor('entry')
		const drop_down = sel.findAncestor('drop-down')
		const filter = sel.findAncestor('filter')
		const active_filters = sel.findAncestor('filters-group').select('.active-filters')
		
		entry.classed('active', this.checked)
		
		if (this.checked) {
			active_filters.addElem('div', 'tag')
			.addElem('label')
				.html(`<small>${sel.attr('data-type')}</small>: ${sel.attr('data-value')}`)
		} else {
			active_filters.selectAll('.tag')
				.filter(function () { return d3.select(this).attr('data-value') === value })
				.remove()
		}

		const active_size = drop_down.selectAll('input[type=checkbox]:checked').size()
		if (active_size > 0) filter.select('button').addElems('label', 'count', [active_size]).html(d => d)
		else filter.select('button').addElems('label', 'count', [])
	})
	d3.selectAll('nav.browse-filters div.submission button.reset')
	.on('click', function () {
		const filter_form = d3.select('nav.browse-filters')
		filter_form.selectAll('input[type=checkbox]').each(function () { this.checked = false })
		filter_form.select('div.submission button.search').node().click()
	})

	d3.select(window).on('keyup.filters', _ => {
		const evt = d3.event
		if (evt.key === 'Escape' || evt.keyCode === 27) {
			if (d3.select('div.veil').node()) {
				// d3.select('div.veil').classed('hide', true)
				d3.select('div.veil button.close').node().click()
			}
		}
	})
</script>