<%
	// CREATE ALIASES
	const publicpage = locals.metadata.page.public
	const modules = locals.metadata.site.modules
	const app_id = locals.metadata.site.app_id
	const activity = locals.metadata.page.activity
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
	const uuid = locals.metadata.user.uuid

	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && !locals.pinboard?.editable && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	const { write: writepads } = modules.find(d => d.type === 'pads')?.rights
	let minwritepads = writepads
	if (typeof writepads === 'object') minwritepads = Math.min(writepads.blank, writepads.templated)

	const writablemodules = modules.filter(d => !['pinboards', 'teams'].includes(d.type))
		.map(d => { 
			const { write } = d.rights
			if (typeof write === 'object') return Math.min(write.blank ?? Infinity, write.templated ?? Infinity)
			else return write
		})
%>
<nav id='site-title' class='<% if (publicpage) { %>public<% } %>'>
	<div class='inner'>
		<img class='logo' src='/imgs/branding/UNDP_accelerator_labs_logo_vertical_color_RGB.png'>

		<% if (rights >= Math.min(...writablemodules)) { %>
			<div class='create'>
				<button><%- vocabulary['new'][language] %></button>
				<div class='dropdown main'>
					<ul>
						<% if (modules.some(d => d.type === 'pads')) { %>

							<% if (rights >= Math.min(minwritepads ?? Infinity, modules.find(d => d.type === 'moblizations')?.rights.write ?? Infinity)) { %>
								<li>
									<button>
										<img src='/imgs/icons/i-pad.svg'>
										<label><%- vocabulary['pad'][language](false).capitalize() %></label>
										<span class='expandable'>></span>
									</button>
									<div class='dropdown'>
										<ul>
											<% if (rights >= (writepads.blank ?? writepads) ?? Infinity) { %>
											<!-- THE ISSUE HERE IS WE WANT TO PREVENT USERS OF THE experiments AND action plans PLATFORMS FROM CREATING BLANK PADS -->
												<li>
													<a href='/<%- language %>/contribute/pad'>
			 											<button>
															<label><%- vocabulary['blank pad'][language] %></label>
														</button>
													</a>
												</li>
											<% } // rights %>
											<% if (rights >= (writepads.templated ?? writepads) ?? Infinity) { %>
												<% if (locals.metadata.menu.templates?.length > 0) { %>
													<li>
														<button>
															<label><%- vocabulary['templated pad'][language] %></label>
															<span class='expandable'>></span>
														</button>
														<div class='dropdown leaf'>
															<ul>
																<% if (locals.metadata.menu.templates.length > 2) { %>
																	<li class='filter lg'>
																		<input type='text' id='filter-pad-templates' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																		<label for='filter-pad-templates'><%- vocabulary['filter'][language](true) %></label>
																	</li>
																	<li class='padding'></li>
																<% } // locals.metadata.menu.templates 2 %>
																<% locals.metadata.menu.templates.forEach(t => { %>
																	<li class='status-<%- t.status %>'>
																		<a href='/<%- language %>/contribute/pad?template=<%- t.id %>'>
																			<% if (t.title) { %>
																				<button class='wrapable'>
																					<label><%- t.title %></label>
																					<% if (t.owner !== uuid) { %>
																						<div class='sub'>
																							<%- vocabulary['created by'][language](t.ownername) %>
																						</div>
																					<% } // t.owner %>
																				</button>
																			<% } else { // t.title %>
																				<button class='wrapable'>
																					<label>[<%- vocabulary['untitled template'][language] %>]</label>
																					<% if (t.owner !== uuid) { %>
																						<div class='sub'>
																							<%- vocabulary['created by'][language](t.ownername) %>
																						</div>
																					<% } // t.owner %>
																				</button>
																			<% } // t.title %>
																		</a>
																	</li>
																<% }) // locals.metadata.menu.templates.forEach %>
															</ul>
														</div>
													</li>
												<% } // locals.metadata.menu.templates 0 %>
											<% } // rights %>
											<% if (locals.metadata.menu.participations?.filter(p => !(p.source && !p.copy) || p.child).length > 0) { %>
												<li>
													<button>
														<label><%- vocabulary['campaign pad'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.participations
															.filter(p => (!(p.source && !p.copy) || p.child) && p.status === 1).length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-pad-mobilizations' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-pad-mobilizations'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.participations
															.filter(p => (!(p.source && !p.copy) || p.child) && p.status === 1)
															.forEach(p => { %>
																<li>
																	<a href='/<%- language %>/contribute/pad?mobilization=<%- p.id %>&template=<%- p.template %>'>
																		<button class='wrapable'>
																			<label><%- p.title %></label>
																			<div class='sub'>
																				<% if (p.owner !== uuid) { %>
																					<%- vocabulary['launched by'][language](p.ownername, vocabulary['date'][language]({ date: p.start_date })) %>
																				<% } else { %>
																					<%- vocabulary['launched by'][language](null, vocabulary['date'][language]({ date: p.start_date })) %>
																				<% } %>
																			</div>
																		</button>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>
											<!-- IF WE WANT xlsx FUNCTIONALITY FOR MOBILIZATIONS, UNCOMMENT THE FOLLOWING -->
											<!-- <%# if (rights >= (modules.find(d => d.type === 'mobilizations')?.rights.write ?? Infinity)	|| locals.metadata.menu.participations.filter(p => !p.source).length > 0) { %> -->

											<% if (rights >= (writepads.blank ?? writepads) ?? Infinity) { %>
												<li class='lg'>
													<a href='/<%- language %>/import/pads'>
														<button><%- vocabulary['import pads'][language] %></button>
													</a>
												</li>
											<% } %>
										</ul>
									</div>
								</li>
							<% } %>
						<% } %>
						<% if (modules?.some(d => d.type === 'templates')) { %>
							<% if (rights >= (modules.find(d => d.type === 'templates')?.rights.write ?? Infinity)) { %>
								<li>
									<button>
										<img src='/imgs/icons/i-template.svg'>
										<label><%- vocabulary['template'][language](false, false).capitalize() %></label>
										<span class='expandable'>></span>
									</button>
									<div class='dropdown'>
										<ul>
											<li>
												<a href='/<%- language %>/contribute/template'>
													<button>
														<label><%- vocabulary['blank template'][language] %></label>
													</button>
												</a>
											</li>
											<% if (locals.metadata.menu.templates?.length > 0) { %>
												<li>
													<button>
														<label><%- vocabulary['copy template'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.templates.length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-templates-copy' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-templates-copy'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.templates.forEach(t => { %>
																<li class='status-<%- t.status %>'>
																	<a href='/<%- language %>/contribute/template?source=<%- t.id %>'>
																		<% if (t.title) { %>
																			<button class='wrapable'>
																				<label><%- t.title %></label>
																				<% if (t.owner !== uuid) { %>
																					<div class='sub'>
																						<%- vocabulary['created by'][language](t.ownername) %>
																					</div>
																				<% } %>
																			</button>
																		<% } else { %>
																			<button class='wrapable'>
																				<label>[<%- vocabulary['untitled template'][language] %>]</label>
																				<% if (t.owner !== uuid) { %>
																					<div class='sub'>
																						<%- vocabulary['created by'][language](t.ownername) %>
																					</div>
																				<% } %>
																			</button>
																		<% } %>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>
											<% if (modules?.some(d => d.type === 'reviews'
												&& (rights >= d.rights.coordinate || rights > 2)
											)) { %>
												<li>
													<button>
														<label><%- vocabulary['review template'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<!-- TO DO: FINISH THIS WITH A FILTER MENU -->
															<!-- <% if (locals.metadata.menu.templates.length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-templates-copy' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-templates-copy'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %> -->
															<% languages.forEach(d => { %>
																<% if (!locals.metadata.menu.review_templates.some(c => c.language === d.language)) { %>
																	<a href='/<%- language %>/contribute/template?review_template=true&language=<%- d.language %>'>
																		<li>
																			<button><label><%- d.name %></label></button>
																			<!-- TO DO: TRANSLATE LANGUAGE NAMES (e.g. FRENCH > FRANÇAIS) -->
																		</li>
																	</a>
																<% } else { %>
																	<li>
																		<button><label><%- d.name %></label></button>
																		<!-- TO DO: TRANSLATE LANGUAGE NAMES (e.g. FRENCH > FRANÇAIS) -->
																	</li>
																<% } %>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>
										</ul>
									</div>
								</li>
							<% } %>
						<% }%>
						<!-- IF WE WANT TO UPLOAD FILES FOR MOBILIZATIONS, UNCOMMENT THE FOLLOWING -->
						<% if (locals.metadata?.site?.modules?.some(d => d.type === 'files')) { %>
							<!-- <%# if (rights >= (modules.find(d => d.type === 'files')?.rights.write ?? Infinity) || locals.metadata.menu.participations.filter(p => !p.source).length > 0) { %> -->
							<% if (rights >= (modules.find(d => d.type === 'files')?.rights.write ?? Infinity)) { %>
								<li>
									<form action='/upload/pdf' method='POST' enctype='multipart/form-data'>
										<img src='/imgs/icons/i-pad.svg'>
										<input type='file' id='input-file-pdf' name='pdf' accept='application/pdf' onchange='uploadPDF(this.form, "<%- language %>")' multiple>
										<label for='input-file-pdf' title='Upload a pdf.'><%- vocabulary['file'][language](false) %></label>
									</form>
								</li>
							<% } %>
						<% } %>
						<% if (locals.metadata?.site?.modules?.some(d => d.type === 'contributors')) { %>
							<% if (rights >= (modules.find(d => d.type === 'contributors')?.rights.write ?? Infinity)) { %>
								<li>
									<a href='/<%- language %>/contribute/contributor'>
										<button>
											<img src='/imgs/icons/i-contributor.svg'>
											<label><%- vocabulary['contributor'][language](false).capitalize() %></label>
										</button>
									</a>
								</li>
							<% } %>
						<% } %>

						<% if (locals.metadata?.site?.modules?.some(d => d.type === 'mobilizations')) { %>
							<% if (rights >= (modules.find(d => d.type === 'mobilizations')?.rights.write ?? Infinity)) { %>
								<li>
									<button>
										<img src='/imgs/icons/i-mobilization.svg'>
										<label><%- vocabulary['mobilization'][language](false).capitalize() %></label>
										<span class='expandable'>></span>
									</button>
									<div class='dropdown'>
										<ul>
											<li>
												<a href='/<%- language %>/mobilize/cohort'>
													<button>
														<label>
															<%- vocabulary['call for contributions'][language] %>
														</label>
													</button>
												</a>
											</li>
											<% if (locals.metadata.menu.pinboards.length > 0) { %>
												<li>
													<button>
														<label>Depth campaign</label>
														<!-- TO DO: TRANSLATE -->
														<span class='expandable'>></span>
													</button>

													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.pinboards.length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-deep-dive-pinbords' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-deep-dive-pinbords'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.pinboards.forEach(d => { %>
																<li class='status-<%- d.status %>'>
																	<!-- TO DO: REROUTE THIS -->
																	<a href='/<%- language %>/mobilize/cohort?pinboard=<%- d.id %>'>
																		<button class='wrapable'>
																			<label><%- d.title %></label>
																			<div class='sub'>
																				<%- d.size %> pads from <%- d.contributors %> contributors
																				<!-- TO DO: TRANSLATE -->
																			</div>
																		</button>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>

											<% if (locals.metadata.menu.mobilizations?.filter(d => !d.target_id).length > 0) { %>
												<li>
													<button>
														<label><%- vocabulary['followup mobilization'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.mobilizations.filter(d => !d.target_id).length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-mobilization-followup' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-mobilization-followup'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.mobilizations.filter(d => !d.target_id)
															.forEach(d => { %>
																<li class='status-<%- d.status %>'>
																	<a href='/<%- language %>/mobilize/cohort?id=<%- d.id %>'>
																		<button class='wrapable'>
																			<label><%- d.title %></label>
																			<div class='sub'>
																				<% if (d.owner !== uuid) { %>
																					<%- vocabulary['launched by'][language](d.ownername, null) %>
																				<% } %>
																			</div>
																		</button>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>
											<% if (locals.metadata.menu.mobilizations?.length > 0) { %>
												<li>
													<button>
														<label><%- vocabulary['copy mobilization'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.mobilizations.length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-mobilization-copy' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-mobilization-copy'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.mobilizations.forEach(d => { %>
																<li>
																	<a href='/<%- language %>/mobilize/cohort?copy=true&id=<%- d.id %>'>
																		<button class='wrapable'>
																			<label><%- d.title %></label>
																			<div class='sub'>
																				<% if (d.owner !== uuid) { %>
																					<%- vocabulary['launched by'][language](d.ownername, null) %>
																				<% } %>
																			</div>
																		</button>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>
											<% if (locals.metadata.menu.participations?.filter(d => !(d.source && !d.copy) && !d.child).length > 0) { %>
												<li>
													<!-- CANNOT DISTRIBUTE A FOLLOW UP MOBILIZATION -->
													<button>
														<label><%- vocabulary['expand mobilization'][language] %></label>
														<span class='expandable'>></span>
													</button>
													<div class='dropdown leaf'>
														<ul>
															<% if (locals.metadata.menu.participations
															.filter(d => !(d.source && !d.copy) && d.status === 1 && !d.child).length > 2) { %>
																<li class='filter lg'>
																	<input type='text' id='filter-mobilization-child' onblur='fixLabel(this)' onkeyup='filterDropdown(this)'>
																	<label for='filter-mobilization-child'><%- vocabulary['filter'][language](true) %></label>
																</li>
																<li class='padding'></li>
															<% } %>
															<% locals.metadata.menu.participations
															.filter(d => !(d.source && !d.copy) && d.status === 1 && !d.child)
															.forEach(d => { %>
																<li>
																	<a href='/<%- language %>/mobilize/cohort?child=true&id=<%- d.id %>'>
																		<button class='wrapable'>
																			<label><%- d.title %></label>
																			<div class='sub'>
																				<% if (d.owner !== uuid) { %>
																					<%- vocabulary['launched by'][language](d.ownername, vocabulary['date'][language]({ date: d.start_date })) %>
																				<% } else { %>
																					<%- vocabulary['launched by'][language](null, vocabulary['date'][language]({ date: d.start_date })) %>
																				<% } %>
																			</div>
																		</button>
																	</a>
																</li>
															<% }) %>
														</ul>
													</div>
												</li>
											<% } %>

										</ul>
									</div>
								</li>
							<% } %>
						<% } %>
						<% if (locals.metadata?.site?.modules?.includes('analyses')) { %>
							<% if (rights >= (modules.find(d => d.type === 'analyses')?.rights.write ?? Infinity)) { %>
								<li>
									<button>
										<label><%- vocabulary['analyse']?.[language](false, false)?.capitalize() || 'Analysis' %></label>
										<span class='expandable'>></span>
									</button>
								</li>

							<% } %>
						<% } %>
					</ul>
				</div>
			</div>
		<% } %>
		<h1><%- (locals.metadata.site.title).replace(/\s+/g, '<br>') %></h1>
		<% if (!publicpage) { %>
			<h2>
				<% if (locals.metadata.user.country.iso3 === 'NUL') { %>Global
				<% } else { %><%- locals.metadata.user.country.name %><% } %>
			</h2>
		<% } %>

		<% if (['contribute', 'edit'].includes(activity)) { %>
			<div class='save lg hide'>
				<button><%- vocabulary['save'][language] %></button>
			</div>
		<% } %>
	</div>
</nav>
<nav id='modules'>
	<menu>
	<% modules.filter(d => {
		let { write } = d.rights
		if (typeof write === 'object') write = Math.min(write.blank ?? Infinity, write.templated ?? Infinity)

		if (rights < write) return false
		else return !['pinboards', 'teams'].includes(d.type)
	}).forEach(d => { %>
		<% if (['browse', 'view', 'contribute', 'edit', 'import'].includes(activity)
			&& [d.type, d.type.slice(0, -1)].includes(object)
		) { %>
			<li class='active'>
		<% } else { %>
			<li>
		<% } %>
			<% if (d.type === 'mobilizations') { %>
				<a href='/<%- language %>/browse/<%- d.type %>/ongoing'><%- vocabulary[d.type.slice(0, -1)]?.[language](true)?.capitalize() || d.type.capitalize() %></a>
			<% } else if (d.type === 'contributors') { %>
				<a href='/<%- language %>/browse/<%- d.type %>/invited'><%- vocabulary[d.type.slice(0, -1)]?.[language](true)?.capitalize() || d.type.capitalize() %></a>
			<% } else if (d.type === 'reviews') { %>
				<a href='/<%- language %>/browse/<%- d.type %>/pending'><%- vocabulary[d.type.slice(0, -1)]?.[language](false, true)?.capitalize() || d.type.capitalize() %></a>
			<% } else { %>
				<a href='/<%- language %>/browse/<%- d.type %>/private'><%- vocabulary[d.type.slice(0, -1)]?.[language](true)?.capitalize() || d.type.capitalize() %></a>
			<% } %>
		</li>
	<% }) %>
	</menu>
</nav>
<nav class='pagination lg'>
	<% if ((activity === 'browse' || locals.instance_vars?.activity === 'browse') && mapscale !== 'full-screen') { %>
		<%- include('../browse/modules/pagination') %>
	<% } %>
</nav>

<script type='text/javascript'>
	if (!mediaSize) var mediaSize = getMediaSize()
	// THIS IS FOR MOBILE DISPLAY
	if (mediaSize === 'xs') {
		d3.select('.create').selectAll('button')
		.on('touchend', function () {
			// d3.event.preventDefault()
			this.focus()
		}).on('focus', function () {
			const dropdown = d3.select(this.nextElementSibling)
			if (dropdown.node() && dropdown.classed('dropdown')) {
				if (dropdown.node().style.maxHeight) {
					dropdown.node().style.maxHeight = null
					dropdown.node().style.overflow = null
				} else {
					dropdown.node().style.maxHeight = `${Math.min(dropdown.node().scrollHeight, 300)}px`
					setTimeout(_ => {
						if (dropdown.select('.dropdown').size() > 0) dropdown.node().style.overflow = 'visible'
						else dropdown.node().style.overflow = 'scroll'
					}, 250)
				}
				// dropdown.selectAll('button').on('mousedown', _ => d3.event.preventDefault())
			}
		}).on('blur', function () {
			const target = d3.event.relatedTarget
			if (!target) {
				d3.select('.create').selectAll('.dropdown')
				.each(function () {
					this.style.maxHeight = null
					this.style.overflow = null
				})
			} else if (!d3.select(target).hasAncestor(this.nextElementSibling)) {
				if (d3.select(target).findAncestor('dropdown')?.node() === d3.select(this).findAncestor('dropdown')?.node()) { // IF THE target IS PART OF THE SAME PARENT DROPDOWN
					const dropdown = d3.select(this.nextElementSibling)
					dropdown.node().style.maxHeight = null
					dropdown.node().style.overflow = null
				} else { // COLLAPSE ALL DROPDOWNS BETWEEN .main AND target
					let dropdown = d3.select(this.nextElementSibling)
					let i = 0
					while (dropdown.node() && !dropdown.classed('main')) {
						if (i === 5) break // THIS IS TO PREVENT A WILD while STATEMENT
						// THERE SHOULD NOT BE MORE THAN 5 DROPDOWN LEVELS
						dropdown.node().style.maxHeight = null
						dropdown.node().style.overflow = null
						dropdown = d3.select(dropdown.node().parentNode).findAncestor('dropdown')
						i++
					}
				}
			}
		})
	} else if (mediaSize === 'lg') {
		d3.selectAll('#site-title .inner .create button')
		.on('click', function () {
			if (this.nextElementSibling?.classList.contains('dropdown')) {
				if (d3.select(this).hasAncestor('dropdown')) {
					const dropdown = d3.select(this).findAncestor('dropdown')
					dropdown.selectAll('li').classed('open', false)
					if (dropdown.hasAncestor('li')) {
						dropdown.findAncestor('li').classed('open', true)
					}
				}
				d3.select('#site-title .inner .create').classed('open', true)
				d3.select(this.parentNode).classed('open', true)
			}
		})
		window.addEventListener('mouseup', function (e) {
			if (e.target.nodeName !== 'HTML' && !d3.select(e.target).hasAncestor('create')) d3.selectAll('#site-title .inner .open').classed('open', false)
		})

		function filterDropdown (node) {
			const dropdown = d3.select(node).findAncestor('dropdown')
			dropdown.selectAll('ul li:not(.filter):not(.padding)')
				.classed('hide', function () {
					return !this.textContent.trim().toLowerCase().includes(node.value.trim().toLowerCase())
				})
		}
	}
</script>
