<%- include ('./multi-language.ejs') %> 
<% 
	if (!locals.lang) locals.lang = locals.path[0]
	if (!locals.activity) locals.activity = locals.path[1] || 'browse'
	if (!locals.object) locals.object = locals.path[2]
	if (!locals.space) locals.space = locals.path[3]
%>
<nav id='languages'>
	<ul>
		<li id='lang-en'>
			<a class='<% if (locals.lang === "en") { %>active<% } %>'>EN</a>
		</li>
		<li id='lang-fr'>
			<a class='<% if (locals.lang === "fr") { %>active<% } %>'>FR</a>
		</li>
		<li id='lang-ar' class='disabled'>
			<a>AR</a>
		</li>
		<li id='lang-es'>
			<a class='<% if (locals.lang === "es") { %>active<% } %>'>ES</a>
		</li>
		<li id='lang-pt'>
			<a class='<% if (locals.lang === "pt") { %>active<% } %>'>PT</a>
		</li>
	</ul>
</nav>

<header>
	<ul class='primary'>
		
		<% if (locals.rights > 0) { %>
			<% if (['browse', 'view', 'contribute', 'edit'].includes(locals.activity) && ['pads', 'pad'].includes(locals.object)) { %>
				<li class='active'>
			<% } else { %><li><% } %>
				<a href='/<%- locals.lang %>/browse/pads/private'><button><%- vocabulary['pad'][locals.lang](true).capitalize() %></button></a>
			</li>
		<% } %>
		<% if (locals.rights > 1) { %>
			<% if (['browse', 'view', 'contribute', 'edit'].includes(locals.activity) && ['templates', 'template'].includes(locals.object)) { %>
				<li class='active'>
			<% } else { %><li><% } %>
				<a href='/<%- locals.lang %>/browse/templates/private'><button><%- vocabulary['template'][locals.lang](false, true).capitalize() %></button></a>
			</li>
		<% } %>
		<% if (locals.rights > 1) { %>
			<% if (locals.activity === "mobilize") { %><li class='active'>
			<% } else { %><li><% } %>
				<a href='/<%- locals.lang %>/mobilize/existing'><button><%- vocabulary['cohort'][locals.lang](true).capitalize() %></button></a>
			</li>
		<% } %>
			
		<li class='placeholder hide'><a><button></button></a></li>

		<li class='user-id'>
			<span class='lg'><%- vocabulary['logged in'][locals.lang](locals.user) %>. | </span><a href='/logout' class='logout'><%- vocabulary['log out'][locals.lang] %></a>
		</li>
	</ul>

	<% if (locals.activity === 'browse') { %>
		<ul class='secondary'>
			<div class='inner'>
				<% if (locals.activity === 'browse') { %>
					<% if (locals.rights > 0) { %>
						<a href='./private'>
							<li class='<% if (locals.space === "private") { %>active<% } %>'>
								<% if (locals.object === 'pads') { %><%- vocabulary['private'][locals.lang] %>
								<% } else if (locals.object === 'templates') { %><%- vocabulary['private templates'][locals.lang] %><% } %>
							</li>
						</a>
					<% } %>
					<!-- <% if (locals.object === 'pads') { %>
						<a href='./bookmarks'>
							<li class='<% if (locals.space === "bookmarks") { %>active<% } %>'><%- vocabulary['bookmarks'][locals.lang] %></li>
						</a>
					<% } %> -->
					<a href='./public'>
						<li class='<% if (locals.space === "public") { %>active<% } %>'>
							<% if (locals.object === 'pads') { %><%- vocabulary['public'][locals.lang] %>
							<% } else if (locals.object === 'templates') { %><%- vocabulary['public templates'][locals.lang] %><% } %>
						</li>
					</a>
				<% } %>
			</div>
		</ul>
	<% } %>
</header>

<div class='screen hide'>
</div>
<div class='screen bis hide'>
</div>
<div class='screen ter hide'>
</div>

<script type='text/javascript'>
	// SET PATHS
	const url = new URL(window.location)
	const pathname = `${url.pathname.split('/').slice(2).join('/')}${url.search}`
	d3.select('#lang-en a').attr('href', `/en/${pathname}`)
	d3.select('#lang-fr a').attr('href', `/fr/${pathname}`)
	d3.select('#lang-es a').attr('href', `/es/${pathname}`)
	d3.select('#lang-pt a').attr('href', `/pt/${pathname}`)

	function renderModal (data) {
		const { headline, opts, theme, node } = data

		d3.selectAll('.temp-active').classed('temp-active', false)
		d3.select(node).classed('temp-active', function () { return !d3.select(this).classed('active') })

		d3.select('nav.filter').classed('open', false)
		d3.selectAll('div.screen').classed('hide', true)
		let screen
		if (theme === 'blue' || !theme) screen = d3.select('div.screen').classed('hide', false)
		else if (theme === 'red') screen = d3.select('div.screen.bis').classed('hide', false)

		const modal = screen.addElems('div', `modal ${theme}`)
		modal.addElems('button', 'close')
		.on('click', function () {
			modal.remove()
			d3.selectAll('.temp-active').classed('temp-active', false)
			screen.classed('hide', true)
		}).html('Close')

		const inner = modal.addElems('div', 'inner')
		inner.addElems('h1', 'headline', data.headline ? [data.headline] : [])
			.html(d => d)
		
		inner.addElems('ul', 'opts', data.opts ? [data.opts] : [])
			.addElems('li', 'opt link', d => d)
		.addElems('a')
			.attr('href', d => d.href)
		.addElems('button')
			.each(function (d) { if (d.class) { d3.select(this).classed(d.class, true) } })
			.html(d => d.label)
	}
	function renderPromiseModal (data) {
		const { message, formdata, opts } = data

		return new Promise (resolve => {
			d3.select('nav.filter').classed('open', false)
			d3.selectAll('div.screen').classed('hide', true)
			const screen = d3.select('div.screen.bis').classed('hide', false)
			const modal = screen.addElems('div', 'modal')
			modal.addElems('button', 'close')
			.on('click', function () {
				modal.remove()
				screen.classed('hide', true)
			}).html('Close')

			const inner = modal.addElems('div', 'inner')
			inner.addElems('h1', 'headline', data.headline ? [data.headline] : [])
				.html(d => d)

			inner.addElems('div', 'message', message ? [message] : [])
				.html(d => d)
			.each(function () {
				const input = d3.select(this).select('input[type=text]')
				if (input.node()) input.node().focus()
			})

			inner.addElems('ul', 'opts', opts ? [opts] : [])
				.addElems('li', 'opt link', d => d)
			.each(function (d) {
				const sel = d3.select(this)
				sel.addElems(d.node)
					.attr('type', d.type)
					.html(d.label)
				.on('click', _ => {
					if (typeof d.resolve === 'function') {
						const resolved = d.resolve()
						resolve(resolved)
					}
					else resolve(d.resolve)

					modal.remove()
					screen.classed('hide', true)
				})
			})
		})
	}
	function renderFormModal (data) {
		const { message, formdata, opts, foot } = data

		d3.select('nav.filter').classed('open', false)
		d3.selectAll('div.screen').classed('hide', true)
		const screen = d3.select('div.screen.bis').classed('hide', false)
		const modal = screen.addElems('div', 'modal')
		modal.addElems('button', 'close')
		.on('click', function () {
			modal.remove()
			screen.classed('hide', true)
		}).html('Close')

		const inner = modal.addElems('div', 'inner')
		
		inner.addElems('div', 'message', message ? [message] : [])
			.html(d => d)
		.each(function () {
			const input = d3.select(this).select('input[type=text]')
			if (input.node()) input.node().focus()
		})

		const form = inner.addElems('form', 'modal-form', formdata ? [formdata] : [])
			.attrs({ 'action': formdata.action, 'method': formdata.method || 'GET' })

		form.addElems('ul', 'opts', opts ? [opts] : [])
			.addElems('li', 'opt link', d => d)
			.classed('hide', d => d.type === 'hidden')
		.each(function (d) {
			const sel = d3.select(this)
			sel.addElems(d.node)
				.attrs({ 'type': d.type, 'name': d.name, 'value': d.value })
			.on('blur', function () { if (d.placeholder) fixLabel(this) })
				.html(d.label)
			sel.addElems('label', 'placeholder', _ => d.placeholder ? [d.placeholder] : [])
				.html(c => c)
		})
		form.addElems('div', 'foot', foot ? [foot] : [])
		.each(function (d) {
			const sel = d3.select(this)
			sel.addElems(d.node)
				.attrs({ 'type': d.type, 'name': d.name, 'value': d.value })
			.on('blur', function () { if (d.placeholder) fixLabel(this) })
				.html(d => d.label)
		})
	}
	function renderContactList (data) {
		const { message, formdata, opts, foot } = data

		d3.select('nav.filter').classed('open', false)
		d3.selectAll('div.screen').classed('hide', true)
		const screen = d3.select('div.screen.bis').classed('hide', false)
		const modal = screen.addElems('div', 'modal contact-list')
		modal.addElems('button', 'close')
		.on('click', function () {
			modal.remove()
			screen.classed('hide', true)
		}).html('Close')

		const inner = modal.addElems('div', 'inner')
		
		inner.addElems('div', 'message', message ? [message] : [])
			.html(d => d)
		.each(function () {
			const input = d3.select(this).select('input[type=text]')
			if (input.node()) input.node().focus()
		})

		const form = inner.addElems('form', 'modal-form', formdata ? [formdata] : [])
			.attrs({ 'action': formdata.action, 'method': formdata.method || 'GET' })

		form.addElems('ul', 'opts', opts ? [opts] : [])
			.addElems('li', 'opt link', d => d)
			.classed('hide', d => d.type === 'hidden')
		.each(function (d) {
			const sel = d3.select(this)

			sel.addElems('div', 'hide')
				.addElems(d.node)
				.attrs({ 
					'id': d.name ? `${d.name.simplify()}-${d.value}` : null,
					'type': d.type, 
					'name': d.name, 
					'value': d.value 
				})
			sel.addElems('div', 'grow')
				.addElems('label')
				.attr('for', `${d.name.simplify()}-${d.value}`)
				.html(d.label)
		})
		
		form.addElems('div', 'foot', foot ? [foot] : [])
		.each(function (d) {
			const sel = d3.select(this)

			const filter = sel.addElem('div', 'search')
			filter.addElem('input')
				.attrs({ 'type': 'text', 'name': 'theme', 'id': 'search-field' })
			.on('keypress', async function () {
				const evt = d3.event
				// if (evt.code === 'Enter' || evt.keyCode === 13) searchLocation()
			}).on('blur', function () {
				fixLabel(this)
			})

			filter.addElem('label')
				.attr('for', 'search-field')
				.html(d => d.instruction || vocabulary['search place'][lang])

			filter.addElems('button',  'search')
				// .on('click', searchLocation)
			.addElems('i', 'material-icons')
				.html('search')

			sel.addElems(d.node)
				.attrs({ 'type': d.type, 'name': d.name, 'value': d.value })
			.on('blur', function () { if (d.placeholder) fixLabel(this) })
				.html(d => d.label)
		})
	}

	window.addEventListener('keyup', function (e) {
		e = e || event
		if (e.key === 'Escape' || e.keyCode === 27) {
			if (d3.select('div.screen div.modal button.close').node()) {
				d3.select('div.screen div.modal button.close').node().click()
			}
		}
	})
</script>