<!DOCTYPE html>

<%
	// CREATE ALIASES
	const language = locals.metadata.page.language
	const page_message = locals?.page_message || ''
	const origin_url = locals?.origin_url
%>

<head>
<%- include ('partials/head.ejs') %>
</head>

<body>

<%- include ('partials/navigate/menu-languages.ejs') %>

<div class='screen <% if (locals.errormessage) { %>error<% } else { %>blue<% } %>'>
	<div class='modal login-module'>
		<form action='/confirm-device?path=<%= locals.redirectPath %>' method='POST'>
			<ul>
				<% if (locals.errormessage) { %>
					<li>
						<p class='errormessage'><%- locals.errormessage %></p>
					</li>
				<% } %>
				<li>
					<div class='required'>
						<label class='active'>*</label>
					</div>
					<div class='input-group'>
						<input type='text' id='otp' name='otp' required>
						<label for='otp'>OTP Code</label>
					</div>
				</li>
                <li>
					<div class='input-group pt-3'>
						<small><%- page_message %> By adding this device as trusted, it will be considered trusted for a duration of one year once confirmed. You have the flexibility to remove this device from the trusted list at any time if you wish to do so.</small>
						<!-- TO DO: TRANSLATE -->
					</div>
				</li>
				<li>
					<button type='submit'>Confirm device</button>
					<!-- TO DO: TRANSLATE -->
				</li>
			</ul>
		</form>
       <div class='foot'>
			<hr/>
			<p> Did not get the One Time Passcode (OTP)? <a href="/resend-otp-code?path=<%= locals.redirectPath %><% if(origin_url){ %>&origin=<%= origin_url %><% } %>">Resend OTP</a></p>
			<!-- TO DO: TRANSLATE -->
		</div>
	</div>
</div>

<div class='main-content'>
<header>
	<div class='inner'>
		<%- include ('partials/navigate/sidebar.ejs') %>
	</div>
</header>
<div class='browse'></div>
<div class='sidebar lg xl xxl'></div>
</div>

<footer></footer>
<%- include ('./partials/footer.ejs') %>

</main>

</body>
</html>
