<!DOCTYPE html>
<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const publicpage = locals.metadata.page.public || activity === 'preview'
	const modules = locals.metadata.site.modules
	const metafields = locals.metadata.site.metafields
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const languages = locals.metadata.site.languages
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
	const pagedisplay = locals.metadata.page.display
	const pages = locals.metadata.page.count
	
	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && (!locals.pinboard?.editable || activity === 'preview') && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	const slides = locals.sample_images
	const is_intropage = (publicpage 
		&& object === 'pads' 
		&& space !== 'pinned' 
		&& mapscale !== 'full-screen' 
		&& locals.metadata.page.id === 1 
		&& slides?.length > 0)
	const welcome_module = locals.metadata.site.welcome_module
%>
<html lang='<%- language %>'>
<head>

<%- include ('./partials/head.ejs') %> 

</head>

<body>

<% include ('./partials/translations.ejs') %> 

<%- include ('./partials/menu-languages.ejs') %> 


<div class='main-content'>
<header>
	<div class='inner'>
		<%- include ('partials/menu-logo.ejs') %> 
	</div>
</header>
<div class='browse home'>
	<div class='panel public-page-header'>
		<div class='<%- welcome_module %>'>
			<% if (welcome_module === 'mosaic') { %>
				<div class='slides'>
					<div class='blank-area'></div>
					<% slides.forEach(d => { %>
						<div class='slide'>
							<a href='view/pad?id=<%- d.id %>'>
								<div class='media media-txt'>
									<p class='country'><%- d.country %></p>
									<h1><% if (d.title?.length > 50) { %><%- d.title?.slice(0, 50).trim() %>…<% } else { %><%- d.title %><% } %></h1>
								</div>
								<% if (locals.metadata.site.app_storage) { %>
									<img src='<%- new URL(`${locals.metadata.site.app_storage}${d.img[0]}`).href %>'>
								<% } else { %>
									<img src='<%- d.img[0] %>'>
								<% } %>
							</a>
						</div>
					<% }) %>
				</div>
			<% } else if (welcome_module === 'carousel') { %>
				<div class='slides'>
					<% slides.forEach(d => { %>
						<div class='slide'>
							<a href='view/pad?id=<%- d.id %>'>
								<div class='media media-txt'>
									<p class='country'><%- d.country %></p>
									<h1><%- d.title %></h1>
									<p><% if (d.txt?.[0]?.length > 500) { %><%- d.txt?.[0].slice(0, 500)?.replace(/<\/?[^>]+(>|$)/ig, '').trim() %>…<% } else { %><%- d.txt?.[0]?.replace(/<\/?[^>]+(>|$)/ig, '').trim() %><% } %></p>
								</div>
								<% if (locals.metadata.site.app_storage) { %>
									<img src='<%- new URL(`${locals.metadata.site.app_storage}${d.img[0]?.replace("uploads/sm/", "uploads/")}`).href %>'>
								<% } else { %>
									<img src='<%- d.img[0]?.replace("uploads/sm/", "uploads/") %>'>
								<% } %>
							</a>
						</div>
					<% }) %>
				</div>
				<div class='dots'>
					<% for (let i = 0; i < slides.length; i ++) { %>
						<div class='dot'></div>
					<% } %>
				</div>
				<script type='text/javascript'>

					function animateCarousel (idx) {
						const carousel = d3.select('.carousel')
						const deck = carousel.select('.slides')
						const slides = carousel.selectAll('.slide')
						const delay = 3000

						if (idx === slides.size()) idx = 0
						deck.node().scrollTo({
							top: 0,
							left: idx * (slides.node().clientWidth || slides.node().offsetWidth || slides.node().scrollWidth),
							behavior: 'smooth'
						})
						slides.selectAll('.media-txt')
						.on('mouseover', _ => clearTimeout(animation))
						.on('mouseout', _ => animation = setTimeout(_ => animateCarousel(idx + 1), delay))
						carousel.selectAll('.dot')
						.classed('highlight', (d, i) => i === idx)
						.on('click', function (d, i) {
							idx = i
							clearTimeout(animation)
							animateCarousel(idx)
						})

						let animation = setTimeout(_ => animateCarousel(idx + 1), delay)
					}
					animateCarousel(0)
				</script>
			<% } %>
			<button class='scroll-nav' onclick='scrollToPanel(this)'><label class='rotate'>&rsaquo;</label></button>
			<script type='text/javascript'>
				function scrollToPanel (node) {
					let next = d3.select('div.public-page-panel h1.site-title').node()
					window.scrollTo({
						top: next.offsetTop - 60,
						left: 0,
						behavior: 'smooth'
					})
				}
				window.addEventListener('scroll', function (e) {
					d3.select('button.scroll-nav').classed('hide', document.documentElement.scrollTop > 60)
				})
			</script>
		</div>
	</div>
	<div class='public-page-panel'>
		<div class='inner'>
			<h1 class='site-title'><%- locals.metadata.site.title %></h1>
			<!-- <% if (locals.metadata.site.description?.[language]) { %><p class='lead'><%- locals.metadata.site.description[language] %></p><% } %> -->

			<p class='lead'>On this platform you can find many early-stage, home-grown and often open-source grassroots solutions developed by people who are innovating in the margins to solve complex development challenges faced by their communities.</p>
			<p class='lead'>Grassroots innovations are home-grown solutions that have never been codified, applied elsewhere, nor taken to scale. These customized solutions are naturally frugal, grounded in a specific context, and might be more relevant, given their proximity to the problem. These solutions are often the result of innovation -- people solving problems from the bottom up.</p>
		</div>
	</div>
	<div class='public-page-panel blue'>
		<div class='inner'>
			<blockquote>“In the drive for a fairer world, we have an—often-overlooked—asset: what 8 billion people around the world know about solving problems.”</blockquote>
			<p>Gina Lucarelli</p>
		</div>
	</div>
</div>
<div class='sidebar'></div>
</div>



<%- include ('./partials/footer.ejs') %> 

</body>
</html>