<!DOCTYPE html>

<%
	// CREATE ALIASES
	const language = locals.metadata.page.language
%>

<head>

<%- include ('partials/head.ejs') %>

</head>


<body>

<%- include ('partials/translations.ejs') %>
<%- include ('partials/menu-languages.ejs') %>

<div class='screen <% if (locals.errormessage) { %>error<% } else { %>blue<% } %>'>
	<div class='modal login-module'>
		<form action='/login' method='POST'>
			<input type='hidden' name='originalUrl' value='<%- locals.originalUrl %>'>
			<ul>
				<% if (locals.errormessage) { %>
					<li>
						<p class='errormessage'><%- locals.errormessage %></p>
					</li>
				<% } %>
				<li>
					<div class='required'>
						<label class='active'>*</label>
					</div>
					<div class='input-group'>
						<input type='text' id='username' name='username' required>
						<label for='username'>First and last name, or email</label>
						<!-- TO DO: TRANSLATE -->
					</div>
				</li>
				<li>
					<div class='required'>
						<label class='active'>*</label>
					</div>
					<div class='input-group'>
						<input type='password' id='password' name='password' required>
						<label class="google-translate-attr" for='password'><%- vocabulary['password'][language] %></label>
					</div>
				</li>

				<li>
					<div class='alert session-alert pt-5'>
						<input type='checkbox' id='is_trusted' name='is_trusted' >
						<small  for='is_trusted'>Trust this device.</small>
						<br/>
						<small>If this is the first time you are adding this device, a one-time password will be sent to your email for confirmation.</small> 
					</div>
				</li>

				<li>
					<button class="google-translate-attr" type='submit'><%- vocabulary['log in'][language] %></button>
				</li>
			</ul>
		</form>


		<div style="padding-top: 20px; font-size: 12px;">
			<hr/>
			<p style="padding-top: 20px;"> Forgot password? <a href="/forget-password">Reset your password</a></p>
		</div>
		<!-- <p>Find your username and password on <a href="https://undp.sharepoint.com/:x:/r/sites/AcceleratorLabsNetwork/Shared%20Documents/100%20Day%20Action%20Plans/AA_platform/credentials%20-%20Editable.xlsx?d=wa7d7cc5c41e74a258f6cea45b0bfcea5&csf=1&web=1&e=KX4Bc0" target='_blank' style='color: blue; text-decoration: underline;'>Teams</a>, under:</p> -->
		<!-- <p>Accelerator Labs Network > Action Plans > Files > AA_platform > credentials.xlsx</p> -->
	</div>
</div>

<div class='main-content'>
<header>
	<div class='inner'>
		<%- include ('partials/menu-logo.ejs') %>
	</div>
</header>
<div class='browse'></div>
<div class='sidebar lg xl xxl'></div>
</div>

<footer></footer>
<%- include ('./partials/footer.ejs') %>


<script type='text/javascript'>
	document.addEventListener('DOMContentLoaded', evt => {
		// GENERIC BLUR FUNCTION
		const inputs = d3.selectAll('input[type=text], input[type=password]')
		inputs.on('blur.fixlabel', function () {
			fixLabel(this)
		})
		inputs.each(function () { fixLabel(this) })
	})
</script>
</main>

</body>
</html>
