<!DOCTYPE html>

<%
	// CREATE ALIASES
	const language = locals.metadata.page.language
%>

<head>

<%- include ('partials/head.ejs') %>

</head>


<body>

<%- include ('partials/navigate/menu-languages.ejs') %>

<div class='screen <% if (locals.errormessage) { %>error<% } else { %>blue<% } %>'>
	<div class='modal login-module'>
		<form action='/login' method='POST'>
			<input type='hidden' name='originalUrl' value='<%- locals.originalUrl %>'>
			<ul>
				<% if (locals.errormessage) { %>
					<li>
						<p class='errormessage'><%- locals.errormessage %></p>
					</li>
				<% } %>
				<li>
					<div class='required'>
						<label class='active'>*</label>
					</div>
					<div class='input-group'>
						<input type='text' id='username' name='username' required>
						<label for='username'>First and last name, or email</label>
						<!-- TO DO: TRANSLATE -->
					</div>
				</li>
				<li>
					<div class='required'>
						<label class='active'>*</label>
					</div>
					<div class='input-group'>
						<input type='password' id='password' name='password' required>
						<label class="google-translate-attr" for='password' data-vocab='password'></label>
					</div>
				</li>

				<li>
					<div class='alert session-alert pt-5'>
						<input type='checkbox' id='is_trusted' name='is_trusted' >
						<small  for='is_trusted'>Trust this device.</small>
						<!-- TO DO: TRANSLATE -->
						<br/>
						<small>You will get an email to confirm your device as trusted, unless you have done so previously.</small> <!-- TO DO: TRANSLATE -->
					</div>
				</li>

				<li>
					<button class="google-translate-attr" type='submit' data-vocab='log in'></button>
				</li>
			</ul>
		</form>


		<div class='foot'>
			<hr/>
			<p>Forgot password? <a href="/forget-password">Reset your password</a></p>
			<!-- TO DO: TRANSLATE -->
		</div>
	</div>
</div>

<div class='main-content'>
<header>
	<div class='inner'>
		<%- include ('partials/navigate/sidebar.ejs') %>
	</div>
</header>
<div class='browse'></div>
<div class='sidebar lg xl xxl'></div>
</div>

<footer></footer>
<%- include ('./partials/footer.ejs') %>

</main>

</body>
</html>
