<!DOCTYPE html>

<%
	// CREATE ALIASES
	const modules = locals.metadata.site.modules
	const object = locals.metadata.page.object
	const rights = locals.metadata.user.rights
%>

<head>

<%- include ('../../partials/head.ejs') %>

<script type='text/javascript' src='/js/contribute/resource/main.js'></script>

</head>

<body>

<!-- SET DATA ATTRIBUTES -->
<data name='object' value='<%= object %>'></data>
<% 
	const rightsobj = {};
	modules.forEach(d => {
		let { write } = d.rights;
		if (typeof write === 'object') { write = write.blank; } 
		
		rightsobj[d.type] = null
		if (write <= rights) {
			rightsobj[d.type] = 'write'
		}
	});
%>
<data name='rights' value='<%= JSON.stringify(rightsobj) %>'></data>
<% if (locals.metadata.site.app_storage) { %>
	<data name='app_storage' value='<%= locals.metadata.site.app_storage %>'></data>
<% } %>

<%- include ('../../partials/navigate/menu-languages.ejs') %>
<%- include ('../../partials/modals.ejs') %>

<div class='main-content'>
<header>
	<div class='inner'>
		<nav id='site-title'>
			<div class='inner'>
				<a href='/'>
					<div class='logo-container'>
						<img class='logo' src='/imgs/branding/UNDP_accelerator_labs_logo_vertical_left_align_color_RGB.png'>
						<div class='filler'></div>
					</div>
				</a>

				<h1 ><%- (locals.metadata.site.title).replace(/\s+/g, '<br>') %></h1>
				<h2>
					<% if (locals.metadata.user.country.iso3 === 'NUL') { %>Global
					<% } else { %><%- locals.metadata.user.country.name %><% } %>
				</h2>
			</div>
		</nav>
	</div>
</header>
<div class='browse'></div>
<div class='sidebar lg xl xxl'></div>
</div>

<footer></footer>
<%- include ('../../partials/footer.ejs') %>


</main>

</body>
</html>
