<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const object = locals.metadata.page.object
	const space = locals.metadata.page.space
	const query = locals.metadata.page.query
	const language = locals.metadata.page.language
	const logged = locals.metadata.user.uuid !== null

	let mapscale = locals.metadata.page.mscale
	// THIS IS FOR PUBLIC PINBOARDS: TO ENSURE THAT THE DEFINED MAP SCALE IS PRESERVED
	if (space === 'pinned' && (!locals.pinboard?.editable || activity === 'preview') && locals.pinboard?.display_map) {
		if (locals.pinboard?.display_fullscreen) mapscale = 'full-screen'
		else mapscale = 'contain'
	}

	let fixedEid = null;

	function simplifyNumber (num) {
		if (num > 1000) return `${Math.floor(num / 100) / 10}K+`
		else return num
	}
%>

<% if (locals.stats?.total > 0) { %>
	<nav id='search-and-filter' class='xs sm m lg xl xxl<% if (mapscale === "full-screen") { %> anchor-bottom<% } %>'>
		<% if (logged && object === 'pads') { %>
			<div class="search-type-menu">
				<span class="stm stm-select google-translate-attr" id="stm-browse"><%- vocabulary["search-type-menu"][language]["browse"] %></span>
				<span class="stm google-translate-attr" id="stm-exploration">
					<%- vocabulary["search-type-menu"][language]["exploration"] %>
					<div class="stm-hint stm-hidden google-translate-attr">
						<%- vocabulary["exploration"][language]["hint"] %>
					</div>
				</span>
			</div>
		<% } // logged in (uuid) %>

		<form autocomplete='off'>
			<!-- ADD ALL EXISTING HEADER QUERIES THAT ARE NOT IN THE MENU (THIS IS FOR PERSISTENCE OF VIEW PARAMETERS) -->
			<% if (object === 'pads') { %>
			<input id='form-exploration-id' type='hidden' name='explorationid' value='' />
			<%
				const menu_keys = (locals.filters_menu ?? []).map(d => Object.keys(d)).flat()
				const view_params = Object.keys(query).filter(key => !menu_keys.includes(key) && !['search', 'status'].includes(key))

				view_params.forEach(d => {
					if (d === 'explorationid') {
						query[d].forEach(c => {
							fixedEid = +c;
						});
						return;
					}
					query[d].forEach(c => {
			%>
				<input type='hidden' name='<%- d %>' value='<%- c %>'>
			<%
					})
				})
			%>

			<% if (locals.metadata?.user?.uuid) { %>
			<div class='exploration'></div>
			<% } // logged in (uuid) %>
			<% } // object is pads %>
			<div class='search google-translate-attr'>
				<% if (query?.search?.length) { %>
					<input type='text' name='search' id='search-field' class='has-value' value='<%- query?.search %>' >
				<% } else { %>
					<input type='text' name='search' id='search-field'>
				<% } %>
				<label for='search-field'><%- vocabulary['search'][language][object === 'contributors' ? 'person' : 'object'] %></label>
				<button id='search' type='submit'><img src='/imgs/icons/i-search.svg'></button>
			</div>

			<% if (locals.filters_menu?.length) { %>
				<div class='filters'>
					<% locals.filters_menu?.forEach(d => { %>
						<section>
							<% for (let key in d) { %>
								<div class='filter google-translate-attr'>
									<input type='text' id='<%- key %>'>
									<label for='<%- key %>'><%- vocabulary[key.slice(0, -1).replace(/_/g, ' ')]?.[language]['plural'].capitalize() || vocabulary[key.replace(/_/g, ' ')]?.[language].capitalize() || key.capitalize() %></label>
									<div class='dropdown'>
										<menu class="google-translate-attr">
											<% d[key]?.forEach(c => { %>
												<li>
													<% if (c.equivalents?.length) { %>
														<% c.equivalents.filter(b => b !== c.id).forEach(b => { %>
															<input type='hidden' value='<%- b %>' name='<%- key %>' <% if (!query?.[key]?.includes(c.id?.toString())) { %>disabled<% } %>>
														<% }) %>
													<% } %>
													<input type='checkbox' value='<%- c.id %>' id='<%- key %>-<%- c.id %>' name='<%- key %>' <% if (query?.[key]?.includes(c.id?.toString())) { %>checked<% } %> data-id='<%= c.id %>' data-name='<%= c.name %>'>
													<label for='<%- key %>-<%- c.id %>'><%- Number.isInteger(c.name) ? c.name : (c.name?.capitalize() || vocabulary['unknown'][language]) %><span class='count'><%- c.count %></span></label>
												</li>
											<% }) %>
										</menu>
									</div>
								</div>
								<% const active_filters = d[key].filter(c => query?.[key]?.includes(c.id?.toString()))
								if (active_filters.length) { %>
									<div class='active-filters'>
										<% active_filters.forEach(c => { %>
											<div class='tag' data-id='<%- c.id %>'>
												<label class='name' title='<%- Number.isInteger(c.name) ? c.name : (c.name?.capitalize() || vocabulary["unknown"][language]) %>'><%- Number.isInteger(c.name) ? c.name : ((c.name?.length > 15 ? `${c.name.slice(0, 15).capitalize()}…` : c.name.capitalize()) || vocabulary['unknown'][language]) %></label>
												<label class='close' data-id='<%= c.id %>' data-name='<%= c.name %>'></label>
											</div>
										<% }) %>
									</div>
								<% } %>
							<% } %>
						</section>
					<% }) %>

					<div class='break'></div>
					<div class='order'>
						<menu>
							<li>
								<input type='checkbox' class='toggle' name='orderby' value='random' id='order-random' <% if (query?.orderby?.includes('random')) { %>checked<% } %>> 
								<label for='order-random'></label>
								<p class='google-translate-attr'><%- vocabulary['serendipitous search'][language] %></p>
							</li>
						</menu>
					</div>
					<button type='submit' class='submit-filters google-translate-attr'>
						<%- vocabulary['apply filters'][language] %>
					</button>
				</div>
			<% } %>

			<% if (locals.stats?.persistent_breakdown?.length > 1) { %>
				<div class='status xs sm m lg xl google-translate-attr'>
					<menu>
						<% locals.stats?.persistent_breakdown?.forEach(d => { %>
							<li>
								<input type='checkbox' class='toggle' id='status-<%- d.status %>' value='<%- d.status %>' name='status' <% if (!query?.status || query?.status?.some(c => +c === d.status)) { %>checked<% } %>>
								<label for='status-<%- d.status %>' data-content='<%- simplifyNumber(d.count) %>'></label>
								<p>
									<%- vocabulary['status'][language](object, d.status, d.count) %>
								</p>
							</li>
						<% }) %>
					</menu>
				</div>
			<% } %>

			<% if (logged) { %>
				<% if (object === 'pads') { %>
					<div class='global-actions'>
						<!-- TO DO: RESTRICT IF THE PAGE IS PUBLIC/ THE USER IS NOT LOGGED IN -->
						<% if (space !== 'pinned') { %>
							<div class='add filter pinboards google-translate-attr'>
								<input type='text' id='pin-all'>
								<label for='pin-all'><%- vocabulary["add all to collection"][language](locals.stats?.filtered ?? 0) %></label>
								<button id='new-pinboard' type='button'></button>
								<div class='dropdown'>
									<menu>
										<% locals.pinboards_list?.filter(pb => !pb.is_exploration).forEach(d => { %>
											<li class='pinboard'>
												<input id='board-<%- d.id %>-object-all' type='radio' value='<%- d.id %>' name='pin-all'>
												<label class='title notranslate' for='board-<%- d.id %>-object-all'><%- d.title %><span class='count'><%- d.count %></span></label>
											</li>
										<% }) %>
									</menu>
								</div>
							</div>
						<% } %>

						<button type='button' class='download m lg xl xxl'><%- vocabulary['download all'][language] %></button>
					</div>
				<% } else if (object === 'contributors') { %>
					<div class='global-actions'>
						<button type='button' class='download m lg xl xxl google-translate-attr'><%- vocabulary['download all'][language] %></button>
						<!-- TO DO: FINISH DOWNLOAD ALL USERS -->
					</div>
				<% } %>
			<% } %>

			<% if (locals.filters_menu?.length) { %>
				<button type='button' class='expand-filters'>
					<div class='line l1'></div><div class='line l2'></div><div class='line l3'></div>
				</button>
			<% } %>
		</form>
	</nav>
<% } else { %>
	<nav><p class="google-translate-attr"><%- vocabulary['no entries'][language] %></p></nav>
<% } %>


<% if (locals.metadata?.user?.uuid) { %>
	<data name='fixedEid' value='<%- JSON.stringify(fixedEid) %>'></data>
	<script type='text/javascript' src='/js/browse/explorations.js' defer></script>
<% } // logged in (uuid) %>
