<%
	const slides = locals.sample_images
%>

<div class='slides'>
	<div class='blank-area'></div>
	<% slides.forEach(d => { %>
		<div class='slide'>
			<a href='../../view/pad?id=<%- d.id %>'>
				<div class='media media-txt'>
					<p class='country'><%- d.country %></p>
					<h1><% if (d.title?.length > 50) { %><%- d.title?.slice(0, 50).trim() %>…<% } else { %><%- d.title %><% } %></h1>
				</div>
				<% if (locals.metadata.site.app_storage) { %>
					<img src='<%- new URL(`${locals.metadata.site.app_storage}${d.img[0]}`).href %>'>
				<% } else { %>
					<img src='<%- d.img[0] %>'>
				<% } %>
			</a>
		</div>
	<% }) %>
</div>