<%
	// CREATE ALIASES
	const activity = locals.metadata.page.activity
	const modules = locals.metadata.site.modules
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights

    const sections = locals.pinboard?.sections
    const section = query.section?.[0]

    const editable = (activity !== 'preview' && locals.pinboard?.editable)
    const editAll = false // THIS IS TO ENABLE EDITING OF ALL SECTION TITLES SIMULTANEOUSLY
%>

<%
	const platform_filters = locals.filters_menu?.[0]
	// MAKE SURE THERE IS MORE THAN ONE location, template, OR mobilization (platform_filters) TO TURN INTO SECTIONS
	const sectionoptions = Object.keys(platform_filters)
	.filter(d => {
		return platform_filters[d].length > 1;
	});

	const pinboarddata = {
		id: locals.pinboard.id,
		section,
		singlesection: false,
		options: sectionoptions
	}
%>
<data name='pinboard' value='<%= JSON.stringify(pinboarddata) %>'></data>
<data name='platform-filters' value='<%= JSON.stringify(platform_filters) %>'></data>

<menu class="google-translate-attr">
	<% sections?.forEach(d => { %>
		<li class='<% if (d.id === +section) { %>active<% } %>'>
			<% if (editable && (d.id === +section || editAll)) { %>
				<div class='make-editable'><i class="material-icons google-translate-attr">edit</i></div>
			<% } %>
			<% if (d.id !== +section) { %>
				<% if (editable && editAll) { %>
					<a href='?pinboard=<%- pinboard.id %>&section=<%- d.id %>'>
						<button>
							<div class='section-title editable' data-placeholder='Section' data-id='<%= d.id %>'><%- d.title %></div><!-- TO DO: TRANSLATE -->
							<div class='count'><%- d.count ?? 0 %></div>
						</button>
					
					</a>
				<% } else { %>
					<a href='?pinboard=<%- pinboard.id %>&section=<%- d.id %>'>
						<button>
							<div class='section-title' data-placeholder='Section'><%- d.title %></div><!-- TO DO: TRANSLATE -->
							<div class='count'><%- d.count ?? 0 %></div>
						</button>
					</a>
				<% } %>
			<% } else { %>
				<% if (editable) { %>
					<button>
						<div class='section-title editable' data-placeholder='Section' data-id='<%= d.id %>' contenteditable><%- d.title %></div><!-- TO DO: TRANSLATE -->
						<div class='count'><%- d.count ?? 0 %></div>
					</button>
				<% } else { %>
					<button>
						<div class='section-title' data-placeholder='Section'><%- d.title %></div><!-- TO DO: TRANSLATE -->
						<div class='count'><%- d.count ?? 0 %></div>
					</button>
				<% } %>
			<% } %>
		</li>
	<% }) %>
	<% if (editable && !sections.length) { %>
		<li>
			<button class='new-section'>
				<div class='section-title make-editable' data-placeholder='Section' contenteditable>Add (a) section(s)</div>
			</button>
			<button class='add add-section'></button>
			<!-- TO DO: TRANSLATE -->
			<!-- <button class='new-section' onclick='addSection(this)' contenteditable>Add a section</button> -->
		</li>
	<% } %>
	<!-- TO DO: PROBABLY AN OPTION TO REMOVE ALL sections -->
</menu>



<script type='text/javascript' src='/js/browse/pinboard.sections.js' defer></script>