<%
	// CREATE ALIASES
	const page = locals.metadata.page.id
	const object = locals.metadata.page.object
	const language = locals.metadata.page.language

	function simplifyNumber (num) {
		if (num > 1000) return `${Math.floor(num / 100) / 10}K+`
		else return num
	}
%>

<div id='statistics' class='google-translate-attr'>
	<div class='stat-group'>
		<div class='statistic'>
			<h1><%- simplifyNumber(locals.stats?.filtered) %></h1>
			<p data-vocab='["<%= object.slice(0, -1) %>", "<%= locals.stats?.filtered !== 1 ? "plural" : "singular" %>"]'></p>
			
			<% if (locals.metadata.page.count > 1) { %>
				<small>
					<span data-vocab='showing range'></span> [ <%= locals.stats?.displayed * (page - 1) + 1 %> – <%= Math.min(locals.stats?.displayed * page, locals.stats?.filtered) %> ]
				</small>
			<% } else if (typeof page === 'string') { %>
				<small>
					<span data-vocab='showing'></span> <%= locals.stats?.displayed %> <span data-vocab='names start with'></span> <%= page %>
				</small>
			<% } %>
			<div class='expand-stats xs'><button id='expand-statistics'></button></div>
		</div>
	</div>
	<% if (locals.stats?.contributors > 0 || (locals.metadata.page.map && locals.stats?.filtered > 0) || locals.stats?.tags?.some(d => d.count > 0)) { %>
		<div class='stat-group'>
			<% if (locals.stats?.contributors) { %>
				<div class='statistic'>
					<h2><%- simplifyNumber(locals.stats?.contributors) %></h2>
					<p data-vocab='["contributor", "<%= locals.stats.contributors !== 1 ? "plural" : "singular" %>"]'></p>
				</div>
			<% } %>
			<% if (locals.metadata.page.map && locals.stats?.filtered > 0) { %>
				<div class='statistic'>
					<h2><%- simplifyNumber(locals.clusters[locals.clusters.length - 1]?.length) %></h2>
					<p data-vocab='["distinct locations", "<%= locals.clusters[locals.clusters.length - 1]?.length !== 1 ? "plural" : "singular" %>"]'></p>
				</div>
			<% } %>
			<% locals.stats?.tags?.forEach(d => { %>
				<div class='statistic'>
					<h2><%- simplifyNumber(d.count) %></h2>
					<p data-vocab='["<%= d.type.slice(0, -1).replace(/_/g, " ") %>", "<%= d.count !== 1 ? "plural" : "singular" %>"]'></p>
				</div>
			<% }) %>
		</div>
	<% } %>
</div>