<%
	// CREATE ALIASES
	const modules = locals.metadata.site.modules
	const space = locals.metadata.page.space
	const object = locals.metadata.page.object
	const query = locals.metadata.page.query
	const language = locals.metadata.page.language
	const rights = locals.metadata.user.rights
%>

<menu class="google-translate-attr">
	<% if (object === 'reviews') { %>
		<li class='<% if (space === "pending") { %>active<% } %>'>
			<a href='./pending'>
				<button>
					<span data-vocab='["space", "<%= object %>", "pending"]'></span>
					<div class='count'><%- locals.stats?.pending %></div>
				</button>
			</a>
		</li>
		<li class='<% if (space === "ongoing") { %>active<% } %>'>
			<a href='./ongoing'>
				<button>
					<span data-vocab='["space", "<%= object %>", "ongoing"]'></span>
					<div class='count'><%- locals.stats?.ongoing %></div>
				</button>
			</a>
		</li>
		<li class='<% if (space === "past") { %>active<% } %>'>
			<a href='./past'>
				<button>
					<span data-vocab='["space", "<%= object %>", "past"]'></span>
					<div class='count'><%- locals.stats?.past %></div>
				</button>
			</a>
		</li>
	<% } else if (object === 'mobilizations') { %>
		<li class='<% if (space === "scheduled") { %>active<% } %>'>
			<a href='./scheduled'>
				<button>
					<span data-vocab='["space", "<%= object %>", "scheduled"]'></span>
					<div class='count'><%- locals.stats?.scheduled %></div>
				</button>
			</a>
		</li>
		<li class='<% if (space === "ongoing") { %>active<% } %>'>
			<a href='./ongoing'>
				<button>
					<span data-vocab='["space", "<%= object %>", "ongoing"]'></span>
					<div class='count'><%- locals.stats?.ongoing %></div>
				</button>
			</a>
		</li>
		<li class='<% if (space === "past") { %>active<% } %>'>
			<a href='./past'>
				<button>
					<span data-vocab='["space", "<%= object %>", "past"]'></span>
					<div class='count'><%- locals.stats?.past %></div>
				</button>
			</a>
		</li>
	<% } else if (object === 'contributors') { %>
		<li class='<% if (space === "invited") { %>active<% } %>'>
			<a href='./invited'>
				<button>
					<span data-vocab='["space", "<%= object %>", "invited"]'></span>
					<div class='count'><%- locals.stats?.invited %></div>
				</button>
			</a>
		</li>
		<% const cplist = (locals.pinboards_list ?? []).filter(d => d.id !== locals.pinboard?.id && d.count); %>
		<% if (modules.some(d => d.type === 'teams' && rights >= d.rights.read) && cplist.length)
		{ %>
			<li class='filter <% if (space === "pinned") { %>active<% } %>'>
				<div class='inner'>
					<input type='text' id='pinboards' value='<% if (locals.pinboard?.title.length > 20) { %><%= `${locals.pinboard?.title.slice(0, 20)}…` %><% } else { %><%= locals.pinboard?.title %><% } %>'>
					<label for='pindboards' class="google-translate-attr" data-vocab='["space", "<%= object %>", "pinned"]'>
					</label>
				</div>

				<div id='pinboards-list-xs' class='dropdown'>
					<menu>
						<% cplist.forEach(d => { %>
							<li>
								<a href='./pinned?pinboard=<%- d.id %>' class="google-translate-attr">
									<% if (d.is_exploration) { %>
										<span data-vocab='["exploration", "exploration"]'></span>:&nbsp;
									<% } %>
									<span class="notranslate"><%- d.title %></span>
								</a>
							</li>
						<% }) %>
					</menu>
				</div>
			</li>
		<% } %>
		<li class='<% if (space === "all") { %>active<% } %>'>
			<a href='./all'>
				<button>
					<span data-vocab='["space", "<%= object %>", "all"]'></span>
					<div class='count'><%- locals.stats?.all %></div>
				</button>
			</a>
		</li>

	<% } else { %>
		<% if (modules.some(d => {
			let { write } = d.rights
			if (typeof write === 'object') write = Math.min(write.blank ?? Infinity, write.templated ?? Infinity)
			return d.type === object && rights >= write
		})) { %>
			<li class='<% if (space === "private") { %>active<% } %>'>
				<a data-location='./private'>
					<button>
						<span data-vocab='["space", "<%= object %>", "private"]'></span>
						<div class='count'><%- locals.stats?.private %></div>
					</button>
				</a>
			</li>
		<% } %>
		<li class='<% if (space === "shared") { %>active<% } %>'>
			<a data-location='./shared'>
				<button>
					<span data-vocab='["space", "<%= object %>", "shared"]'></span>
					<div class='count'><%- locals.stats?.shared %></div>
					<!-- TO DO: CHANGE TRANSLATION TERM preprint TO SHARED -->
				</button>
			</a>
		</li>
		<% if (['pads', 'templates'].includes(object)
			&& (modules.some(d => d.type === 'mobilizations' && rights >= d.rights.write) || rights > 2)
			&& locals.stats?.curated > 0
		) { %>
			<li class='<% if (space === "curated") { %>active<% } %>'>
				<a data-location='./curated'>
					<button>
						<span data-vocab='["space", "<%= object %>", "curated"]'></span>
						<div class='count'><%- locals.stats?.curated %></div>
					</button>
				</a>
			</li>
		<% } %>
		<% 
			// const plist = (locals.pinboards_list ?? []).filter(d => d.id !== locals.pinboard?.id && d.count); 
			const plist = (locals.pinboards_list ?? []).filter(d => d.count); 
		%>
		<% if (modules.some(d => d.type === 'pinboards' && rights >= d.rights.read) && plist.length)
		{ %>
			<li class='filter <% if (space === "pinned") { %>active<% } %>'>
				<div class='inner'>
					<input type='text' id='pinboards' value='<% if (locals.pinboard?.title.length > 20) { %><%= `${locals.pinboard?.title.slice(0, 20)}…` %><% } else { %><%= locals.pinboard?.title %><% } %>'>
					<label for='pindboards' class="google-translate-attr">
						<span data-vocab='["space", "<%= object %>", "pinned"]'></span>
						<span class='count'><%- plist.length ?? 0 %></span>
					</label>
				</div>

				<div id='pinboards-list-lg' class='dropdown'>
					<menu>
						<% plist.forEach(d => { %>
							<% if (d.id === locals.pinboard?.id) { %>
							<li class='highlight'>
								<a class='google-translate-attr'>
									<% if (d.is_exploration) { %>
										<span data-vocab='["exploration", "exploration"]'></span>:&nbsp;
									<% } %>
									<span class="notranslate"><%- d.title %></span>
									<span class='count'><%- d.count %></span>
								</a>
							</li>
							<% } else { %>
							<li>
								<a href='./pinned?pinboard=<%- d.id %>' class='google-translate-attr'>
									<% if (d.is_exploration) { %>
										<span data-vocab='["exploration", "exploration"]'></span>:&nbsp;
									<% } %>
									<span class="notranslate"><%- d.title %></span>
									<span class='count'><%- d.count %></span>
								</a>
							</li>
							<% } %>
						<% }) %>
					</menu>
				</div>
			</li>
		<% } %>
		<% if (object === 'pads' && modules.some(d => d.type === 'reviews' && rights >= d.rights.read)
			&& locals.stats?.reviewing > 0)
		{ %>
			<li class='<% if (space === "reviewing") { %>active<% } %>'>
				<a href='./reviewing'>
					<button>
						<span data-vocab='["space", "<%= object %>", "reviewing"]'></span>
						<div class='count'><%- locals.stats?.reviewing %></div>
					</button>
				</a>
			</li>
		<% } %>
		
		<!-- <% if (!['pads', 'reviews', 'templates'].includes(object)) { %>
			<li class='<% if (space === "public") { %>active<% } %>'>
				<a data-location='./public'>
					<button>
						<span data-vocab='["space", "<%= object %>", "public"]'></span>
						<div class='count'><%- locals.stats?.public %></div>
					</button>
				</a>
			</li>
		<% } %> -->

		<li class='<% if (space === "published") { %>active<% } %>'>
			<a data-location='./published'>
				<button>
					<span data-vocab='["space", "<%= object %>", "all"]'></span>
					<div class='count'><%- locals.stats?.all %></div>
				</button>
			</a>
		</li>

		<% if (object === 'templates' && modules.some(d => d.type === 'reviews' && rights >= d.rights.read)
			&& locals.metadata.menu.review_templates?.length > 0)
		{ %>
			<li class='<% if (space === "reviews") { %>active<% } %>'>
				<a href='./reviews'>
					<button>
						<span data-vocab='["space", "<%= object %>", "reviews"]'></span>
						<div class='count'><%- locals.metadata.menu.review_templates.filter(function (d, i, self) { return self.findIndex(c => c.template === d.template) === i }).length %></div>
						<!-- ABOVE IS A METHOD FOR EXTRACTING UNIQUE VALUES INSPIRED BY https://stackoverflow.com/questions/1960473/get-all-unique-values-in-a-javascript-array-remove-duplicates -->
					</button>
				</a>
			</li>
		<% } %>
	<% } %>
</menu>
