<!DOCTYPE html>

<%
	// CREATE ALIASES
	const modules = locals.metadata.site.modules
	const rights = locals.metadata.user.rights
	const uuid = locals.metadata.user.uuid
	const language = locals.metadata.page.language
	const editable = !locals.data || locals.data.editable
	const object = locals.metadata.page.object
%>

<html lang='<%- language %>'>
<head>

<%- include ('../../partials/head.ejs') %>

<%- include ('./modules/data.ejs') %>

<script type='module' src='/js/contribute/contributor/load.js'></script>
<!-- <script type='text/javascript' src='/js/contribute/contributor/save.js'></script> -->

</head>

<body>

<%- include ('../../partials/navigate/menu-languages.ejs') %>

<div class='main-content fit'>
<header>
	<div class='inner'>
		<%- include ('../../partials/navigate/sidebar.ejs') %>
	</div>
</header>

<div class='filler m'></div>

<div class='fact-sheet'>
	<main id='profile'>
		<div class='inner'>
			<div class='meta-status status-<%- locals.data?.uuid ? 2 : 0 %>'>
				<div class='btn-group'>
					<% if (editable || locals.data?.host_editor) { %>
						<button type='submit' class='save google-translate-attr' form='profile-form' data-vocab='save' disabled='true'></button>
					<% } %>
				</div>
			</div>
			<div class='head'>
				<div class='title google-translate-attr' data-vocab='contributor profile'></div>
			</div>
			<div class='body'>
				<form action='/save/contributor' method='POST' id='profile-form' autocomplete='off'>
					<% if (locals.data?.uuid && (editable || locals.data?.host_editor)) { %>
						<input type='hidden' name='id' value='<%- locals.data?.uuid %>'>
					<% } %>
					<% if(!locals.data?.uuid && locals.errormessage) { %>
						<p class='lead errormessage' ><%- locals.errormessage.replace(/\n/g, '<br>') %></p>
					<% } %>
					<% if(locals.data?.uuid && locals.u_errormessage) { %>
						<p class='lead errormessage' ><%- locals.u_errormessage.replace(/\n/g, '<br>') %></p>
					<% } %>
					<div class='main-info info'>
						<ul>
							<li>
								<div class='required'>
									<label class='active'>*</label>
								</div>
								<label class='instruction google-translate-attr' data-vocab='name'></label>
								<div class='input-group'>
									<input type='text' id='new-name' name='new_name' autocomplete='new-name' value='<%- locals.data?.name %>' required <% if (!editable) { %>disabled<% } %>>
									<label for='new-name' class='google-translate-attr' data-vocab='first and last name'></label>
								</div>
							</li>
							<li>
								<div class='required'>
									<label class='active'>*</label>
								</div>
								<label class='instruction google-translate-attr' data-vocab='email'></label>
								<div class='input-group'>
									<input type='email' id='new-email' name='new_email' autocomplete='new-email' pattern='.+@.+\.\w+' value='<%- locals.data?.email %>' required <% if (!editable) { %>disabled<% } %>>
									<label for='new-email' class="google-translate-attr" data-vocab='email address'></label>
								</div>
							</li>
							<li>
								<div class='required'>
									<label class='active'>*</label>
								</div>
								<label class='instruction google-translate-attr' data-vocab='job title'></label>
								<div class='input-group'>
									<input type='text' id='new-position' name='new_position' autocomplete='new-position' value='<%- locals.data?.position %>' required <% if (!editable) { %>disabled<% } %>>
									<label for='new-position' class='google-translate-attr' data-vocab='job title'></label>
								</div>
							</li>
						</ul>
					</div>
					<% if (editable) { %>
						<% if (locals.data?.uuid) { %>
							<button type='button' class='expand-collapsed google-translate-attr' id='reset-password'><span data-vocab='reset password'></span>
								<% if(locals.errormessage) { %>
									<p class='lead errormessage' ><%- locals.errormessage.replace(/\n/g, '<br>') %></p>
								<% } %>
							</button>
							<div class='old-password-info info collapsed'>
								<ul>
									<li>
										<div class='required'>
											<label class='active'>*</label>
										</div>
										<label class='instruction google-translate-attr' data-vocab='old password'></label>
										<div class='input-group'>
											<input type='password' id='old-password' name='old_password' autocomplete='old-password' <% if (!locals.data?.uuid) { %>required<% } %> <% if (!editable) { %>disabled<% } %>>
											<label for='old-password' class='google-translate-attr' data-vocab='password'></label>
										</div>
									</li>
									<li>
										<div class='required'>
											<label class='active'>*</label>
										</div>
										<button type='button' class='expand-collapsed google-translate-attr' id='check-old-password' data-vocab='verify old password'></button>
									</li>
								</ul>
							</div>
						<% } %>
						<% if (locals.data?.uuid) { %>
						<div class='password-info info <% if (locals.data?.uuid) { %>collapsed<% } %>'>
							<ul>
								<li>
									<div class='required'>
										<label class='active'>*</label>
									</div>
									<% if (locals.data?.uuid) { %>
										<label class='instruction google-translate-attr' data-vocab='new password'></label>
									<% } else { %>
										<label class='instruction google-translate-attr' data-vocab='password'></label>
									<% } %>
									<div class='input-group'>
										<input type='password' id='new-password' name='new_password' autocomplete='new-password' <% if (!locals.data?.uuid) { %>required<% } %> <% if (!editable) { %>disabled<% } %>>
										<label for='new-password' class='google-translate-attr' data-vocab='password'></label>
									</div>
								</li>
								<li>
									<div class='required'>
										<label class='active'>*</label>
									</div>
									<% if (locals.data?.uuid) { %>
										<label class='instruction google-translate-attr' data-vocab='confirm new password'></label>
									<% } else { %>
										<label class='instruction google-translate-attr' data-vocab='confirm password'></label>
									<% } %>
									<div class='input-group'>
										<input type='password' id='confirm-password' name='confirm_password' autocomplete='confirm-password' <% if (!locals.data?.uuid) { %>required<% } %> <% if (!editable) { %>disabled<% } %>>
										<label for='confirm-password' class='google-translate-attr' data-vocab='password'></label>
									</div>
								</li>
							</ul>
						</div>
						<% } // password fields %>
					<% } %>
					<div class='secondary-info info'>
						<ul>
							<li>
								<div class='required'>
									<label class='active'>*</label>
								</div>
								<label for='user-country' class='instruction google-translate-attr' data-vocab='country'></label>
								<div class='select'>
									<input type='text' id='new-country' autocomplete='new-country' value='<%- locals.data?.country %>' <% if (!editable) { %>disabled<% } %>>
									<label for='new-country' class='google-translate-attr' data-vocab='select country'></label>
									<% if (editable) { %>
										<div class='dropdown'>
											<menu>
												<% locals.countries.forEach(d => { %>
													<li>
														<input type='radio' id='ctr-<%- d.iso3 %>' name='iso3' value='<%- d.iso3 %>' data-label='<%- d.name.capitalize() %>' required <% if (locals.data?.iso3 === d.iso3) { %>checked<% } %>>
														<label for='ctr-<%- d.iso3 %>'><%- d.name.capitalize() %></label>
													</li>
												<% }) %>
											</menu>
										</div>
									<% } %>
								</div>
							</li>
							<li>
								<div class='required'>
									<label class='active'>*</label>
								</div>
								<label class='instruction google-translate-attr' data-vocab='preferred language'></label>
								<div class='select'>
									<input type='text' id='new-language' autocomplete='new-language' value='<%- locals.data?.languagename %>' <% if (!editable) { %>disabled<% } %>>
									<label for='new-language' class='google-translate-attr' data-vocab='["select language", "singular"]'></label>
									<% if (editable) { %>
										<div class='dropdown'>
											<menu>
												<% locals.languages.forEach(d => { %>
													<li>
														<input type='radio' id='language-<%- d.language %>' name='language' value='<%- d.language %>' data-label='<%- d.name.capitalize() %>' required <% if (locals.data?.language === d.language) { %>checked<% } %>>
														<label for='language-<%- d.language %>'><%- d.name.capitalize() %></label>
														<!-- TO DO: TRANSLATE LANGUAGE NAMES (e.g. FRENCH TO FRANÇAIS) -->
													</li>
												<% }) %>
											</menu>
										</div>
									<% } %>
								</div>
							</li>
							<% if (editable) { %>
								<!-- ADD OTHER FLUENT LANGUAGES -->
								<li>
								<% if (locals.data?.secondary_languages?.length > 0) { %>
									<label class='instruction google-translate-attr' data-vocab='other languages'></label>
									<div class='select'>
										<input type='text' id='secondary-languages' autocomplete='secondary-languages' value='<%- locals.languages.filter(d => locals.data?.secondary_languages?.includes(d.language)).map(d => d.name).join(", ") %>' <% if (!editable) { %>disabled<% } %>>
										<label for='secondary-languages' class='google-translate-attr' data-vocab='["select language", "plural"]'></label>
										<% if (editable) { %>
											<div class='dropdown'>
												<menu>
													<% locals.languages.forEach(d => { %>
														<li>
															<input type='checkbox' id='secondary-language-<%- d.language %>' name='secondary_languages' value='<%- d.language %>' data-label='<%- d.name.capitalize() %>' <% if (locals.data?.secondary_languages.includes(d.language)) { %>checked<% } %> <% if (locals.data?.language === d.language) { %>disabled<% } %>>
															<label for='secondary-language-<%- d.language %>'><%- d.name.capitalize() %></label>
															<!-- TO DO: TRANSLATE LANGUAGE NAMES (e.g. FRENCH TO FRANÇAIS) -->
														</li>
													<% }) %>
												</menu>
											</div>
										<% } %>
									</div>
								<% } else { %>
									<button id='add-extra-languages' class='add-info google-translate-attr' type='button'>
										<span class='add-circle'>+</span><span data-vocab='add other languages'></span>
									</button>
								<% } %>
								</li>
							<% } %>
							<!-- IF THIS IS CREATED FOR SOMEONE, SET RIGHTS -->
							<% if (editable && locals.data?.uuid !== uuid) { %>
								<li>
									<% if (editable && locals.data?.uuid !== uuid) { %>
										<div class='required'>
											<label class='active'>*</label>
										</div>
									<% } %>
									<label class='instruction google-translate-attr' data-vocab='user rights'></label>
									<div class='select'>
										<% if (editable && (!locals.data || locals.data?.rights <= rights)) { %>
											<input type='text' id='new-rights' value='<%- locals.data?.rights %>'<% if (editable && locals.data?.uuid === uuid) { %> disabled<% } %>>
											<label for='new-rights' class='google-translate-attr' data-vocab='grant rights'></label>
											<% if (editable && locals.data?.uuid !== uuid) { %>
												<div class='dropdown'>
													<menu>
														<% for (let i = 0; i <= rights; i ++) { %>
															<li>
																<input type='radio' id='rights-<%- i %>' name='rights' value='<%- i %>' data-label='<%- i %>' required <% if (locals.data?.rights === i) { %>checked<% } %>>
																<label for='rights-<%- i %>'><%- i %></label>
																<!-- TO DO: DESCRIBE RIGHTS
																	0 - no rights
																	1 - external
																	2 - internal
																	3 - admin
																-->
															</li>
														<% } %>
													</menu>
												</div>
											<% } %>
										<% } else { %>
											<input type='hidden' name='rights' value='<%- locals.data?.rights %>'>
											<input type='text' id='new-rights' value='<%- locals.data?.rights %>' disabled>
										<% } %>
									</div>
								</li>
							<% } %>
							<% if (modules.some(d => d.type === 'teams' && rights >= d.rights.write)
								&& (!locals.data || locals.data?.host_editor)
							) { %>
								<li>
									<label class='instruction google-translate-attr' data-vocab='teams'></label>
									<div class='add select'>
										<input type='text' id='new-team' <% if (!editable && !locals.data?.host_editor) { %>disabled<% } %>>
										<label for='new-team' class='google-translate-attr' data-vocab='assign to teams'></label>
										<% if (editable || locals.data?.host_editor) { %>
											<button type='button' id='add-new-team'></button>
											<div class='dropdown'>
												<menu>
													<% locals.teams.forEach(d => { %>
														<li>
															<input type='checkbox' id='team-<%- d.id %>' name='teams' value='<%- d.id %>' data-label='<%- d.name %>' <% if (locals.data?.teams.some(c => c.id === d.id)) { %>checked<% } %>>
															<label for='team-<%- d.id %>' class='title'><%- d.name %></label>
														</li>
													<% }) %>
												</menu>
											</div>
										<% } %>
									</div>
									<div class='pinboard-group margin-left<% if (!locals.data?.teams.length) { %> hide<% } %>'>
										<div class='pinboard'>
											<div class='pins'>
												<% locals.data?.teams.forEach(d => { %>
													<div class='pin tag'>
														<label class='name notranslate'><%- d.name %></label>
														<label class='close' data-id='<%- d.id %>' data-name='teams'>x</label>
													</div>
												<% }) %>
											</div>
										</div>
									</div>
								</li>
							<% } else if (modules.some(d => d.type === 'teams' && rights >= d.rights.read)
								&& locals.data?.teams?.length
							) { %>
								<li class='google-translate-attr'>
									<label class='instruction' data-vocab='teams'></label>
									<div class='pinboard-group'>
										<div class='pinboard'>
											<div class='pins'>
												<% locals.data?.teams.forEach(d => { %>
													<div class='pin tag'>
														<label class='name notranslate'><%- d.name %></label>
													</div>
												<% }) %>
											</div>
										</div>
									</div>
								</li>
							<% } %>
						</ul>
					</div>
					<div class='secondary-info info'>
						<ul>
							<% if (modules.some(d => d.type === 'reviews' && rights >= d.rights.write)) { %>
								<li class='google-translate-attr'>
									<label class='instruction' data-vocab='accept to review'></label>
									<div class='input-group'>
										<input type='checkbox' id='accept-reviews' name='reviewer' value='true' class='toggle' data-object='contributor' <% if (locals.data?.reviewer) { %>checked<% } %><% if (!editable) { %> disabled<% } %>>
										<label for='accept-reviews' data-content='<% if (locals.data?.reviewer) { %>yes<% } else { %>no<% } %>'></label>
									</div>
								</li>
							<% } %>
							<% if (false) { // notification block toggle %>
							<li class='google-translate-attr'>
								<label class='instruction' data-vocab='email notifications'></label>
								<div class='input-group'>
									<input type='checkbox' id='email-notifications' name='email_notifications' value='true' class='toggle' data-object='contributor' <% if (locals.data?.notifications) { %>checked<% } %><% if (!editable) { %> disabled<% } %>>
									<label for='email-notifications' data-content='<% if (locals.data?.notifications) { %>yes<% } else { %>no<% } %>'></label>
								</div>
							</li>
							<% } else { // notification block hidden %>
								<input type='hidden' id='email-notifications' name='email_notifications' value='true' %>>
							<% } // notification block end %>
						</ul>
					</div>
				</form>
			</div>

			<div class='foot'>
				<% if (editable && locals.data?.uuid) { %>
					<div class='api-token'>
						<form>
							<!-- TO DO: TRANSLATE -->
							<button class='request-token' type='button'>Request an API token</button>
							<div class='input-group'>
								<input type='text' name='api-token' class='hide' readonly>
								<button type='button' class='copy hide google-translate-attr' data-vocab='["copy", "verb"]'></button>
							</div>
						</form>
					</div>
				<% } %>
				<% if (locals.data?.pads > 0) { %>
					<div class='user-content py-5'>
						<a href='../browse/pads/public?contributors=<%- locals.data?.uuid %>' target='_blank' data-vocab='browse publications'></a>
					</div>
				<% } %>

				<% if (locals.data?.uuid === locals.metadata.user.uuid) { %>
					<%- include('../../partials/sessions-alert.ejs') %>
				<% } %>

				<% if (locals.data?.uuid === locals.metadata.user.uuid) { %>
					<%- include('../../partials/trusted-device.ejs') %>
				<% } %>
			</div>
		</div>
	</main>
</div>

<div class='sidebar lg xl xxl'></div>
</div>

<footer></footer>
<%- include ('../../partials/footer.ejs') %>

</body>
</html>
